<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <title> ML shots </title>
  <link rel = "icon" href = "data:image/x-icon;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMCAggICAgICAgICAgICAgICAgICAgICAgICAgICAgI
CAgICAgICAgICAcHCAoHBwcICQkJBQULDQoIDQYICQgBAwQEBgUGCAYGCAgICAgICAgICAgICAgI
CAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICP/AABEIAlgCWAMBEQACEQED
EQH/xAAdAAEAAQQDAQAAAAAAAAAAAAAAAQIGBwkDBQgE/8QARRAAAgEDAgMEBgcFBgYDAQEAAAEC
AwQRBSEGBzEIEkFRExQiYXGBCTJCkZKh0RUjUrHwGDNTVLLhFyRDYnLBFoLxonT/xAAbAQEAAgMB
AQAAAAAAAAAAAAAAAQMEBQYCB//EADcRAQACAQIFAgUCBgICAgMBAAABAgMEEQUSITFRQWETIjJx
gQaRFEJSYqGxFXIWIzPRNFPBJP/aAAwDAQACEQMRAD8A8W4Og2jw4Lmt5MDaPBzW8mBtHg5reTA2
jwc1vJgbR4Oa3kwNo8HNbyYG0eDmt5MDaPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kwNo8HNbyYG0eD
mt5MDaPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kwNo8HNbyYG0eDmt5MDaPBzW8mBtHg5reTA2jwc1v
JgbR4Oa3kwNo8HNbyYG0eDmt5MDaPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kwNo8HNbyYG0eDmt5MD
aPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kS9xO0HNbypcl5pfEcseDmnyj0kfNfeTy+xzT5VLHhv8CO
WPBzT5TgbQc1vJgjaPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kwNo8HNbyYG0eDmt5MDaPBzW8mBtHg
5reTA2jwc1vJgbR4Oa3kwNo8HNbyYG0eDmt5MDaPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kwNo8HNb
yYG0eDmt5MDaPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kwNo8HNbyYG0eDmt5MDaPBzW8mBtHg5reTA
2jwc1vJgbR4Oa3kwNo8HNbyYG0eDmt5MDaPBzW8mBtHg5reTA2jwc1vJgbR4Oa3kwNo8HNbyqPYA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKXIhDseHOGrm8qKla0KlabePZi3FfEqyZaYo3vaK
x7vdKWvO1YmXpTl19Hfq94ozupK2g8PHR4OZ1P6j0+LpT5pbfDwrLfrbozvw/wDRhWMEvWLmU34m
hyfqnLP0V2bKvB6fzSuKf0bejNY78s+Zix+pdT4W/wDE4vK0OJ/ovrWSfqt3KD8MszcX6pvH103U
X4NX+Wzz5zK7ButaepTpR9Zpx3yt5YOi0vH9Nn6Wnllq83DMuPrHWHnrU9Pq0JunXpzo1E8OM01n
4HRUvW8b1mJj2aq0TWdpjafdwpnpCSUgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAYFE5kIekuzT2LrzW5RuLlSt7JNPLTTmvcczxTjePSfJT5r/
AOm20nD75/mt0q2T8tOSmm6TSjTtLeCkkk6kopyb88nzPU67Nqbb5LTt4dbh0+PDG1Y/K+pTb8fl
4GBsyVPcJQnBIjukCrvvp1Xk90RsndibnH2ZdL1qnKNahCnWafdqwWGn8jb6LimfSTE1tM18Sws+
kx5o6xtPlrH7QfZgvtArPvxlVtG33K0U2kvDLPqHDuKYtbXpO1/WHH6rR3089etfSWHoyN0wFSJS
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKJSC
HqzsWdk6WrVlf3sXGyotOMWv7xrp8Ucjxvi8aavwsc73t/hu+H6H4089/pj/AC2e6fp9OjTjSowV
OlBKMYRSSSW3gfLrWm0za07zPeXYRERG0dIh9KRAkAAAAMAQ0Eum4v4Pt7+3nbXVONSlUi4+0k3H
O2V5FuHNfDeL0naYV3x1yV5bRvEtSnap7N9bh+8binKyrSbpTxlQz4Nn13hPEq63H1+uvePLiNbp
J09un0z2lhKLN61yolIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAACGwL65HcramsalQs6abi5p1H4KKe+fka7X6uulw2yT46MnT4ZzZIpH5bnODuEKNh
a0bOhFRp0YKOyxmSW7fzPiubNbNe2S07zaXfUxxjrFY7Q7pIqe0gAAAAAAAQ0Bj7nnyoo6xp1e0q
xTk4SdKTW6kk8Y+Zn6HV20uat6z036sbU4IzUms/hpj4s4Xq2N1Xs6yaqUJuO/is7fkfasOWualc
le1ocBek0tNZ9HWJl7ykAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAHHUl19wQ2OfRrcqlRta2p1I+3V9mk2unwPmv6m1c2vXBE9I7ur4RhiKzknvPZ7W
j/ucQ6BUSAAAAAAAAAClPBEpa2PpJeVitryjqVKOIVfZqYWzk/M+l/pnVfEx2w2nrHZyXFsHLaMk
evd42R2rQKiUgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAARQod+cIL7U4x+9kTO0TPiDbdus7PfC6s9FsqKWMwjN/NI+IcRy/F1N7e+z6BpacmKse27Ii
NeykgAAAAAAAAAFMiEvOnbw4OV3oVWWMyo+2vkdHwDNOPVR/d0ariWPnwz7dWpW1nmMW+vj8tj69
PdxEOcJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABE
gO14Ot+/eWsX41of6ijPO2O0+0veON7R928nhmj3bW1iuit6f+lHwnJ1yXn+6X0an0x9odmjwkAA
AAAAAAAAIYGOe0NZKpot+n4UZv8AJmw4dO2px/8AaGLqo3xW+zSfQWzXlKX8z7hL57DnD0AAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACGB2fCV13Lu2n5V
Yf6ijNG+O0e0vWOdrR928nhW4U7S0kt07en/AKUfCssbZLx/dL6NT6Y+0O0RW9JAAAAAAAAAAIYG
Ne0bqKpaLft+NGa/Jmx4bXm1OOP7oYurnbFb7NKVvLbPm5fzPt8//T57D6A9AAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUwquMoyX2ZKX3PJExvEx5R2
luh7M/FivdDsqqeXGKhL5JHxPimH4WpvXz1fQNHfnw1llBGsZaQAAAAAAAAACmQHmX6QDjZWmhzp
5xKu+4l47nTfp7B8TUxPpXq1PFMnJh28tUtvTxGK8l/Pc+tOKhzBIAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIbA+zQ9ArXdRUbeDqTltt9WPvb8DzMxH
WU1rNp2jq2TdhXW6VjTlo9a5jVupe0oJrEPFpe9Hzr9SaXeYz1jp6us4beKR8KZ3l69X8tvuOFb1
USAAAAAAAAAClIhLV/8ASI82I3upQsaUs0rb+8w9u8uh9R/TmjnDhnLbvbs47iubnyRSO0d3k9HX
tIqJSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFMpEC
7eAOWFxqDcl+5to71K89lhde631K7Xiv38LceKb+0esrw1/mRbafTlZ6RFd7HdrXbXtSfj3X+h4i
s262/ZdbJWkcuP8ANlmctOY1fTdQo38JydSNROo23mSzv+RXqtNXUYrYresdFOLLOO8Xjv6tznK/
mNQ1ayo3tCSanCPpIp5cJYWc/M+K6rTW02Wcdo7T094fQMOWMtIvH5XWjFWpAAAAAAAApbAx/wA6
eYdOwtKi9LGnc1oSjbxbScpNPGPmbThujtqs0REfLHW0sbUZox0nrtaY6NM3GsLlXlw7xSVzOo5T
z4pttOPmsH2fHWtKVrXtEbQ4HJzc083f1dSmWq0hIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAABDYFOeiWW30S3bfkiEMqcI8pqdKmr3VZegoL2oUP+pU8sryZ
Ta8z0qy6YYiObJ0j0j1l1HH3Nupdr0FvH1ayhtGnDZzS8ZY8z1Wm3WesvGTNNukdK+FhRhj9Cxjp
kiR6A7JXagq6DdKnVbnY1mlUi3tHPivgc7xfhVdZTevTJHafLaaHWTgttP0z3bXOF+KLe9oQubWp
GrRmlJOLy453wz5LlxXw2mmSNrQ7Wl63jmrO8S7RMqe1WSUAAABGQIbAtHmjzTtNItZ3V3UjBRi3
Cnn2pvGySMrS6XJqrxTHG/mfSFObNXDXmtP48tRnPnn7d65fu6lOUKdOX/LwTaUcPZ4PsPD+H00e
KKR9U/VLhtTqbZ783pHZ3mnXlHX7f0FdxpanRj+5q7L0yXSMn4tmZtydY7PUbZ42npaO0+WG9T0y
pQqzo1oOFWm2pRaxnHivcXxO8bsKYmJ2nu4Uz0JAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAABDYH16Pota5qRo0IOpUk8JJbL3tnmZiO6YrNp2jrLLltpNjoUFU
uO7d6jJZjSWHCk/evNFHW/bpDM2phje3W3jwxhxbxjcX1V1bibl/DBfUgvJLpsXVrEdmJe83nezp
0j08JJSAUSgQhmLkF2oNQ0GqvRzlVtm/boyeVjxwjTcQ4Vi1lesbW9Jhn6XWX089OseGynk52sNJ
1inFwrRt67S71ObS9r3ZPmWs4Rn0s9azavmHXafXYs0d9p8MzxhlZWJRfRxaefuNJ/tnoz8fuJQn
ISjPx+4IU3NWMIuVSUacVu5SklhfMR1naImZ8QT06z0edOefbe0vSYyp281dXWGoqLTin7zpNBwP
PqZibxyU92r1PEceLpXrLWvzg52X+t3DrXdSThn2KKb7sV4bH0zR6HFpKcuOOvrPq5HPqL57b2n7
QsRI2DGclrdTpyjOnJxnFpxknhpobJidusM0UZ0Nftu5NxparQj7E9l6dLwfm2Y/Wk+zO6Zq9elo
/wAsM3tjOlUlSqwcKsG1OL23XivcZESwZiY6S4kyRIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAplIgXXwHy0uNQlmP7qhHepXntFLxw31PFrxX/6W48U39o8r11r
mFa6ZTlZ6VFSq4xVu2stvx7r/Qris262/ZdbJXHHLj7+ssRXFxKcnOcnOcnmUpPLZfDEnr1lTgIS
SkAAAIaIFVpcTpyU6U5U5rdSi2v5Mi0RaNrREx7kdOsdGZ+X3bG13TsKNw60F4Tbe3zNJqOC6XP3
ryz7Nhi1+bH67s6cP/Sg3UUlc2ql5tI0OT9K45+i7Y04zb+aFwy+lKp42snkx/8AxSf61v8AzMf0
rS4l+k6v5pq2t4wz0bXQzMX6WxR9dt1F+MXn6YYA5gdqHW9Syq11OnB/Yg2lj5M6DT8K02D6aRM+
ZazLrMuTvbZiueW3KTcpPrKTy38zbR06R0YSpIlKQIaA5rC+nSnGpTk4zg04yTx0ImNyJmOsMyXN
OjxBbqUe7S1WhHdbL1iKX5sx/wD459mb0zx4vH+WF7m2nTnKnUi4Tg2pxaw00ZESwp6dJ7qUyRIA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEZApcunVt7JLq35IhDKHB
3KWEaavdUl6C2XtQpPapV8ljrhlNr9dq92XTD05r9I8eXwce83J3MfVrSPq1lDaMIbOa85Y8ya02
6z1l4yZpt8telWPoxwWsdWiQCQAAAAAAEYAYID+ugDBIYCEhIAAAQwPp0vVKlCpCtSk4VIPMZL3e
DPMxv3ImYneGYdSsaOv0PTUVGlqdGP7ynslXSW7x4spjek7ejNtEZo3jpeO/uwtVpSjKUJxcZwbj
OL2cWi9goySlIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQ2QPp0rSq
txUjSowdSpLZRiunvb9xEzsmImZ2jrLL1noFlocFWu3G5v2swoLDjTfh3l5oo3m/SOkMyK1w9bdb
ePDGXGPGtxf1HUuJtr7FNfUgvBJdNi6tYr2Yt72vO8/s6RI9vCoAAAAAAAAAAAAAAAAAAAAACGiB
9mh65VtqsK1GThUg0014+5+5kTG8bSmLTWd47wy5rWi0ddt3eWqjT1GlH9/RW3pkuskvFlETNJ2n
t6SzLRGaOavS0d48sLNNNxknGUXiUXs4teDMhgqkSkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAMgUykQhc/AnLm41CeKa7lGP95XltGK8cN7M8WtFVuPHOTt28r71fju00qm7
XS4qpXaxVu2s7+Pdfh8iuKzbrb9mRbJXHHLTv6yxDdXU6k3UqSc6knlzk8v5F7Dnr1lQkSJAAAAA
AAAAAAAAAAAAAAAAAAAIaA+/h7iGtaVY1qMnGcXnbpJeT80eZjfo9VtNZ3hlXijh6jrFv6/ZJQva
a/5m3W3pEusorzKazNJ2nt6Mq1Yyxz1+r1hhlPdpppp4cX1i/JovYapMkSAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAjIE4fkQIAnHuAjJIkAAAAAGQKJS/Pp5v3IhDJnBXKNej9c1KXq9rH2o03
tOr7sddym1/SvWWVTD/NfpH+3z8dc3JVoeq2UfVrOOyUdpVF5trfcmtNus9ZRkzbxy16VY7jDH9b
lrGV4JSAAAAAAAAAAAABGQJx7iBAE/ICMgSSAAAAAAAIaA7ThbiitZ1o16MmpRe68JLxTXiebV3j
Z6peaTvDJnGXCtHVaD1HT4qNxFZurZdZY6yiimtprO1u3pLKvSMsc9O/rDDsZfFYeGn1T8Uy9hKy
UgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQ2QhNrRnUkoU4SqzeyjBNv8gmOvZmvl52NNf1JKUL
Z0ab+1NYeCi2atfVl49Jkv6bM98NfRU3dRJ3F53H4pMx51UekM+vDLT3lc8/onYY2v5Z+Z5/i/Z7
/wCL/uWXxV9Fjf0k3bXaq+Skz3Gqj1hVbhlo7Tu8+cxOyvrumZde0nUgvtU4t7GTXLW3aWBk0uTH
3j9mJ5ZTcZJxkusZLDX3lrFSmSlIACGyEObTtOqVqkaVGEqlSWyjFZ+b9wmdnqImZ2jqy/YcLWei
wVe+cbi9azTt1vGD8O8vNGPMzfpHZmRSuKN7dbekeGOOM+O7i/qd+vJ91fUpLaEV4LHQurWK9mLk
vN53n9nQJHtWqCQAAAAAAAAAAAQ2QJtqMqklCnCVSb6Rgm3+REzERvMxEeZI69I6sycAdkHXdRw4
W7pU39qawzS6jjGlwd7bz7M/Foc2TtG0e7OXD/0YF3NJ3F2oPxSZosn6pxx9FN2xrwa381lxT+i3
jja9efiY3/lU/wBC7/hv7locTfRkX9NN21yqvkmzMxfqjFb667Me/B7x9M7sB8f9mbWtNy69rOcF
9qmm9vkdBp+KabP9N4ifEtbl0eXH3qxe5Ybi04yXWMlhr7za+/ePLCVJgSSkAAAAACGgO54O4vrW
NeNei8NP24/ZnHxTR4tXeNnul5pO8MicccG0tRovU9OilNLN1bLqn4yiiqtprPLb8SyL0jJHPT8w
w/Cf6e9PyZew3ISkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKJTIQzL2fey1qHEFZKlCVK1TXfrST
Sa8cFGTLFPuy8Gmvmnp0jy2gcj+xppOjU4NUY166S71WaT392TWZM1rOkw6OmOO28s929rGCxFKK
XhFJIx2ds5O6EncQDugfPe6dConGpCM4vZqSTX8id0TET3eYu0B2DdM1aE6lvBW11htSgsRlL5e8
ycee1e/Zrc+hpk6x0lrC5zcitQ0K4lRvKUu5n2KyT7sl4bm0pki8dHOZsNsU7Wj8sfJljHHIJXHw
Py/uNQn3aS7tNf3laW0Irx3ex4taKrKY5v2/dkHVOM7PSKcrbTlGrdNYq3T37r8e6yuKzbrPbwyJ
vXFHLTrPrLEF7ezqzlUqzc6knlyk8/cXxGzDmd53lxpEiQAAAAAAAAAAAAplIhDLnIXsyahr1Vei
hKlbJ+3WkmljxwabiHFMWjr80729Ks7TaO+onpG0eWyrk12SdJ0eEe7RjXrpLvVZrPtfM+Z63i+o
1U95rXxDrtPocWGO28+Wa6bwsRSgl4RWDRzHnq2B8dyRGAhKb8G0NkqLuhGpFxqQjUi+qmkxG9Z3
iZifYnr36vOHPXsPaZq0JVLeCtbnDacVhOXyOl0HHc+mmIvPNX3anU8Ox5etektbHNzkxfaJcOhe
U5KOcQrJPuyXhv0Ppmj1uLV05sc9fWvq5LPp74bbWj8rHTNgx1QAAAAAAIaA77gjjetYV1VpPbpU
g/qzj4po8WrzRs90vNJ3j8r54/4GpXdH9qack4ve5t11hLxkl5FVbbTy2/EsjJji0fEp+YYmpzz/
AF09zL2GrJSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUyYQ9C9kXss1tfuo1KsXCypSTnJraeH9VGLm
y8ke7YaTTTlnee0NvvA3Altp9vC2tqcadOCS9lJN48X5motabTvLqqUikbQuJI8rEgAAAABDQFh8
3uT1nrNrO2u6cZd6LUJtLvQljZ56llLzWd4UZcVckbS009orkHc8P307erGToSk3QqJN5Wdl8Tc4
8kXjdyWfBOG209vSXy8Eco+/T9b1CXq1pH2lGW06vuS67i1/SOsoph3jmv0j/anjjm46kPVLCPq1
pHb2dp1Pe313FabdZ6yZM28ctOkMcRj/AF4v4lrGVYJSkAAAAAAAAAAAAKZSAz52TuzDW166VSqn
CxotOpNrCljGyfvOd4vxWujx7V63ntHhstFo51Ft5+mO7a9wpwnb2NCFta040qUEku6knLG2Wz5N
ly3zWm+Sd5l2tMdccRWsbRDtkil7VYJAAAAjAEYCVmc1eU9nrFrO2u6cZd6LUKmF3oPweTL0mrya
XJF8c/ePKjPgrmry2j8tRfP3kbcaDezt6qboybdCrjZx8Fk+wcP19NZji9fqj6ocLqtPbBflnt6S
xumbRipJAAAAAAIaIFxcBcd1bCsqlN5py2q0n9WcfHb4Hm1eZZjyTSd4/MLw5jcBUq1L9p6au9Rn
vcUFvKlLxaXkV0tt8s/hdlxxMc9O3rHhiuMvu/rYvYitBIAAAAAAAAAAAAAAAAAAAAAAAAAAESYF
08q+XtXVL6hZ0k36Sce+14Rzuyu9orG6zFjnJaKw3ecmOVlDSLGjaUYKPcgu+0l7UsbtmkvebTu7
LDjjHWKwv5Fa9IAAAAAAAENAYp7QPKG21Szm6lGNWtQi50cpZ7yWUvvLcd5rP3Y2fFF69Y3mOzTH
zX4ivKt3Vo3eYegm4RoraMUnhbdDc0iIjo5HNa1rTFvT0WckWqUgAAAAAAAAAAAAAhsgXLyy4Bq6
pfULKim3UnFSa8I53/IxdVqK6fFbJb0hbhxTlvFY9ZbneVnLahpNjRsqEUlCEfSSS3lLG+fmfFNX
qbanLbJae89PaHf4cVcVIpX8ruwYq5IAAAAAAAFLRCWIe07yPo65ptWlKK9PTi5UZ49pNLOMm44X
rraPNFon5ZnaYYOs08Z8cx6x2adtX0ipbVqtvWTjVozcJJ+54R9lpeL1i9e1o3hwdqzWZrPeJcCL
EAAAAAAAKWghdXLvmDUsK3eXt0Z+zWpPeMovrt06Fdq7wux5JpPt6wuPmTy9pyp/tHTvbtam9Wkt
5UZPrt5ZPFLelu6zLjj66dp7x4YxjPy6F7GVgAAAAAAAAAAAAAAAAAAAAAAAAABxykQhsR+jH5Nr
u1dTqxXe+rT7y8PNGu1V/wCVvuHYf55bFIo1zoFQAAAAAAAAABRNAan/AKSLk8rHUoX1KHdp3O0s
LbveLNrpr7xt4cvxHFyX5o9Xj1Ga1SokAAAAAAAAAAAAAomwh7/+jT5SpRr6rVjl/Votrx9x88/U
+s61wV/Lp+EYO+Sfw95L+e5wLpFRIAAAAAAAAAKUzzKWr36Q/lOrLUoX1KOKVz/eYW3ePqf6c1fx
cM4rT1r2+zjuK4OTJzx2nu8oo65pVRIAAAAAAApaAvDltzGnYVXld+3qezWpPeLi+rx5ld6c33W4
sk0n2nvDt+ZfLeEIftCw/eWVXecI7ujJ7tNLojzW3pPd7y49o56/TP8AhjeMv9i1jKyUgAAAAAAA
AAAAAAAAAAAAAAAAwFCg5zhBdZyUfvaIO7d52TeD42ei2kFHEnTTl8WjR5p3tLsdLTlxwzOUswAA
AAAAAAAAIYHlH6RPgZXWhzrYzK39pbbmVp7bWaziFObHv4ahqUtl8NzcOUcuSUmQGQGQGQGQGQGQ
GQGQGQGQKYUnJxivtSUfvZEzt18I7tz/AGZOE1ZaHZUksOUVOXvykz4pxTL8XVXt46PoGjx8mGsf
llGJq2WqAAAAAAAAAAKWB5l+kB4IV3oc6mMyoPvp+Ox036ezzj1MR6W6NRxTHz4d/DVLb1Mxi/Nf
y2PrU93Fw5gkAAAAAAAApaCF6cteZM7Gbp1F6S1q+zVpS3WHs2kV2pv91+LLydJ6xPeH3czuW0aE
Y3tm/S2Nbfbd0ZP7L8kjzS+/Se6cuLl+avWs/wCGPYy/rzLWOqJSAAAAAAAAAAAAAAAAAAAAAAGB
2/BFr3760j51of6keLdpeqdbR92+bl1ZqFnbxWyVKH+k0Nu7t8cbVj7LmPKwAAAAAAAAAAAGJu1D
pvpdEvYd1y/dPCSy+ngW4vqhi6mN8dmjyej1lKa9Xr7TkvqPzfuN5vDjeWfEn7Krf5ev+B/oNzln
xJ+ya3+Xr/gf6Dc5Z8Sfsmt/l6/4H+g3OWfEn7Jrf5ev+B/oNzlnxJ+ya3+Xr/gf6Dc5Z8Sfsmt/
l6/4H+g3OWfEn7Jrf5ev+B/oNzlnxJ+ya3+Xr/gf6Dc5Z8Sfsmt/l6/4H+g3OWfEn7Jrf5ev+B/o
NzlnxJ+ya3+Xr/gf6Dc5Z8SPSq3+Xr/gf6Dc5Z8S7PhPQK07u2i6FbDqwy3B/wAXwKc1tsdp9pe6
UnmjpPdvB4WtVC0tIJY7tvT28nhHwvLO+S8/3S+iUjasR7Q7RFb0kAAAAAAAAAAhgY07R2nKrot/
FrOKM3+TNlw23Lqcc+8MXVxvit9mlO3W2PJyX5n26Xz6H0BIAAAAAAAAApkghfXLPmQ7SToV16Wz
rezUpy3UU9u8vJlV6b9Y7sjFl5ek9Ynuq5n8t1atXNq/S2Nb2oSW/om/sy8sEUvv0nuZcXL81etZ
/wALDTLWOqJSAAAAAAAAAAAAAAAAAAAAAMDuuArnuX9pLwVaH+pHi0dJeqfVH3b5+AbhStLeS6Ol
D/SaG3d2+P6YXEeVgAAAAAAAAAAAMa9obXnbaReVo4zCk2s9M4LMcb2hjai3LSZac6naKv8AvT/d
Ufryx7K82bj4UOU/ib+x/aKv/wDCo/hX6D4UH8Tf2P7RV/8A4VH8K/QfCg/ib+x/aKv/APCo/hX6
D4UH8Tf2P7RV/wD4VH8K/QfCg/ib+x/aKv8A/Co/hX6D4UH8Tf2P7RV//hUfwr9B8KD+Jv7H9oq/
/wAKj+FfoPhQfxN/Y/tFX/8AhUfwr9B8KD+Jv7H9oq//AMKj+FfoPhQfxN/Y/tFX/wDhUfwr9B8K
D+Jv7H9oq/8A8Kj+FfoPhQfxN/ZD7RV//hUfuX6D4UH8Tf2dlwv2ir31q3UqdHuurFPZdG/gVZsU
TjtHtL3TU25o7d24Hh+579vbT/joQl82kfDskbXvH90u9rO9Y+0OwR4SkAAAAAAAAAAhgY67Qt6o
aLftvrRmvyZsOHV31OP/ALQxtVO2K32lpOoPZvzlL+Z9wl89hzhIAAAAAAAAAAUSRCGQeWHMlWzd
tdL0tlW9mcJb9zO3ej5YKr136x3ZOLLy/LbrWXy8y+W7s5KtQfpbKt7VKot+5n7MvLBNL79J7vOX
FydY61ntKyUyxSqJAAAAAAAAAAAAAAAAAAAADAqsrp06lOovsTjL7mjyR06t5PZk4njdaNZ1VJNu
mk/dhGjyxtaXZ6a3NjiWWCplAAAAAAAAAABDA8ydv7jRWug14ZxOsu7EydPXe7W6+22OY8tOdNbL
37v4m6cm5O6EndAd0B3QHdAd0B3QHdAd0B3QHdAd0Bb1u5OnNfYnF/czzMbxMeYkjo3Wdn7idXmj
WNZPPsRg/kkfEeI4vhanJX33fQdLfnxVt7MiRNcykkoAAAAAAAAAFMiEvOfbw41haaFVi5YlW9he
/Ox0fAMM5NVE+OrVcSyRTDPv0alrWGIx+G+/nufXp7y4iHPkJAAAAAAAAAAABTKIGRuWXMmNGMrK
8XpbOt7LUt/Rt/aWemCm9N+sd2Tiy7fLbrWf8Op5kcuJWE1OD9JZ1fao1Vukn0jL3nqtt/u8ZMXJ
O8dYntKz0yxSqAAAAAAAAAAAAAAAAAAAABxzj1RA2YfRl83I1bWpp9SX7ym/YTf2TWamnXd0PDcu
8TSfR71TMBvFQAAAAAAAAABTJgavvpOebauLujptOWVR9ueH4+TNppabRu5viWXeYpHo8OpGe0yo
AAAAAAAAAAAAAHHOPVeZCGx76Njmoq1pW02pL26XtUk3u/gfNf1NpOXJXNEdJ7us4Rm3rOOfTs9q
R/2OJb9USAAAAAAAAAClIhLwV25u0BaeuU9LrUlXoxWarW7gz6R+m9HNMc5p6TPZzPEtTXmjHMbx
6vMH/D7SL1d6yuvVqj+xUe2fmdjzWjvG7S/Dx3+mdvutniHkxqFunJU1cU/8SDzt8Ee4vE+yq2C9
fTeFk1U4vuyjKDXVTXdX5lihKfz+G4DISkkAAAAAAAAKJRAyZy25iwUHYXy9JaVdk5bulJ7Jp+GC
i9PWO7JxZOnJbrE/4dBzH5eT0+ot/SW1X2qFZbrD6Rb8z3W/N91eXHNJ8xPaVppntUqJABkhCMgM
hJkBkIMkpSAAAAAAAAAAQ0BkLkDzYqaNqVC6hJqHeUaqX8Le5VkpzRsvwZZxXi37t3nL7jajqFpR
uqMlKFSCls84yuj95o7V5Z2l2WO8XiJhcp5WJAAAAAAAAgDH/PDmVHStOuLtpylCEu5FdW8eCLKV
5piFGbJyVmWjbjjjKrqF3XvKzbnVqSlh9Ypv6u5vKxtGzi73m9ptLpUe3lIAAAAAAAAAAAAAIkgL
95E81Kmj6lQvINqKmlUS8Yt7/ka3X6Suqw2xz46fdk6bNOHJFo/LczwfxfQv7ajd281OnWgpbPPd
k1umfFs2K2G847xtNZd9S8XrFonfd3WSp7SAAAAAAABDYFgc8OatHR9Or3dWSUlCSpxb3lJp4x8z
P0Oktqs1cdY9ev2Y+ozRhpNp/DTFxdxXVv7qveVm3Urzct98Rzt+R9qw4a4aVx17VhwF7zktNp7z
LqHSWc7p+aeP5Fytc2gcyb61x6OvKUV9ie6/M8TSJW1yXr2n8L2p857S5ShqVlB+Hfgkn8djxyTH
0yv+NW311/ZVU5XaZeLvWF76KT6UZtJfDcjntHeD4VLda2/C0eI+UmoWu8qPpYeE6XtZXyLIvEqb
Yb19N/stCcu68STg/wCGawz2pVAEyUpAAAAAABTKIQyjy44+pVKb07UPbtqm1Ob3dKT2TTKL1nvH
dl4skTHJftP+Fp8weAKmn1u5J9+hPejWW8ZRfRN+eD3W3N91WXHNJ29PSVtpntShyCX16Xo1avJR
o05VG/JZR7pS152rG6nJlpjje9ohlHhnswajcYc/3SZtcXCs1+/Rz+o/UGmxdK/NK/7DsZ7fvLjc
2NeCf1Waa/6o/po+ut2NKWPZrtM9zwSvpZVH6ntHei19d7H9zBN0a3f9xiZODXj6Z3bDD+psVul6
7MVcT8rr6zb9NRl3V9qKyanLpcuL6qui0/ENPn+i8b+JWqp//j6mI2SrIEkgAAAAAAABROJCHrzs
P9rmWk1o2F7Nu0qSShKT2g3/AOjDz4ebrHdttFqvhzy27S2taLrVO4pwq0pqcJpOMovKafwNVMbO
miYnrD7yHpIAAAAAQB0HGvGtvYW87m5qRp06cW25NLOE9kTETM7Q8XvFI3lqX7Q/bTu9R1Jzt3/y
NKTiqT+rUin1a96NvjwRWOvdy+fWWvfeO0enlYur8GWur03dac40rpLNW1e3efi4o9xaa9LdvKma
VyxzU6T6wxBd2s6c5U6kXCcXiUZLDX3l+7DmJjpKhMkSAAAAAAAAAAAAFEp4IQvrgHlLVvE61d+r
Wcd51Z7OSXhDJXa+3brLIx4Zv1npXy9UdnLthWWmXFPSop/s/Kh6eXXvdM58jkuM8InUVnNT649P
Lc6TXVxWjH/L5bCLG+p1YRq0pxqUppOE4vKafwPmU1mszW0bTHeHVRMTG8dYfQmQJAAAADIENkDp
+LOLLext53N1UjTpQi3mTx3sb4WS7DhvmvFKRvMvN7xSs2tO0Q1L9qztI1dfvHGDcbKjJqlDO08P
q0fXOE8Mrose89bz3nw4jW6udRfp9MdoYOSN81qolJgCMECmMMPMcxfnFtMIXbw5zWv7XHcrOpH+
GpuvzPE0iV1c169pXhT5safd+zf2cYyezqwWPmeOSY7SujNS311/KmpydsrrMtOvY957qnVf5Ec8
x3g+DW30W/dZfEPLK/tW/SUJVIr7dLeP5FkXifVRbFaveFrKqs46Pyaaf5ntU5GwJTJSAAAACiUS
EMr8vOOqNxSem6j7VGe1Gq+tKT6b+RRasx80MvHki0cl+3pPhZPHHAtawreimnKEt6NVbxnF9N/P
BZW3N9/CjJjnHO09vSWSeUfZxrXvdrXOaVDqk9nJG+0fDLZvmv0q5HiXHKafemL5r/6equFOALSy
go0KUcr7TSyzrcOnx4o2rEfd871Gszaid72n7Li778zK3YWyMEJMAEwjZw3lnConGpCM0+veRFoi
0bTG73W1qTvWZj7MI80ezJb3KlVtf3VXd91dGzRavhdMnzY+kuq4fx/JhmKZvmr58PKXEnDNe0qu
lXg4yT2bWzORy4rYrct42l9GwajHnrF8c7x/p1iZUyVRIAAAAAAAAcco/wBeKIQ9Q9l3tvXmiTjb
3TlXsm0t3lwXu+Bi5cEW7dJbLTa22LpPWG0HlZz207V6UalpcU5OSTdNySlH3YNXbHNe8OkxZqZI
3rLIamVshOQGQHeAplP5fHYDD3OrtR6XotKUq9eE6qTxRhJOWfkXUxWv2YmbU0xx1nr4asO0f2s7
/iCtJOUqVon7FKLxleGTa4sMU+7mtRqrZp8R4YMjAvYL6tK1WrQqRq0ZuFSLymnjPxImN3qszWd4
ZftdZs9cpqlc9221CKxCssKNR+He+JTtNOsdYZkWrmjaelvLF3FfCNxY1XSuINP7M/sTXg0+hbW0
T2Yt6TSdpdSmenhJIAAAAAAAARkgTSpuUlCMXKcniMYrLb+QGW9A5aW1hTV5q0l3sd6laJ+034d5
eRRN5t0r+7LrirSObJ+IWnx9zRr377n9xbR2p0IeysLpnB7rSI+6rJlm/tHpCzPR/wC2PAtUPS/Z
o7ad3oso2903cWTaWJPLgvccvxTgmPVRN6fLf/bb6PiFsPy261bJuW3OTTtWpRq2dxBuSTdJySkn
5HzPU6LNprcuSs/fbo63Fnx5Y3rP4XtKLXVfduYTIO8EGQIcgJUG/h5vZEbpYp5wdpXS9GpylXrw
qVkn3aMGm8+/Bt9HwzPq52rWYjzLCz6vHhjrO8+GsntDdqO+1+s1KTpWifsUYvGV4ZSPqHDuFYtH
XpG9/WXIarWX1E9elfDDUIm7a9UEgAAAAjACSIEUsxeYuUH5weAhefD3OK/ttvSKrT/gqb5XzK5p
Er65r19/uuqPMTSr1d2+tPQSf/UprG/nseOW0dpWxkx3+qNvs4rjklQrxc9OvYNdVTm13vhuPiTH
1QfAifot+JWLxBwBe2ufTW8lFfbjmSf3FkWie0se2O1e8LfjWT/32/me1avISnJIAGQONr/bzyEP
XvIThSpdWcVqNNVKUGnQlJZksdN34HQ8N4ZzT8a/b0jy47jfHZpWdNi6z628M7UaSjFRikoxWEls
sHYdukdnzaZmZ3nrM+qvAEgAAAABAFic1eVVHUqMoyilVSbhNLfJr9XpK6ivv6S2/DuI30d4mJ3r
6w8NcU8M1bOvKhVTUot4b8UcJlxWxWmtvR9a02orqMcZKT0n/DrEyplJAAAAAAAAYApcSB23C/GF
3Y1FUtLipRknn2ZNJ/LJ5msT3eq3tWd4nZ6h5bfSS6vZxjTuoq4hHbPjgxbaas9myx8RvXpbq9A8
N/Sn6dNJV7adOXiyidLPpLOrxOnrC5ZfSa6JjOJfA8fwtlv/ACONZ3FX0qdlFNW1rKcvBvoe40s+
sqbcTr6Q848z/pCtb1BSp0X6tTfjHZ4MmmnrX3a/Jr8l+kdHmzWNZr3M3VuKs6028tzk3/NmTERH
Zr5mbdZnd8uCUJJEYIEbppptNbprZp/EIZV4S5p0rikrHVY+kpP2adf7dN+G/XYptSY61ZdMsTHL
k7ekug5gcq6tlirTfp7Se9OtDfup9FLHQ9Vvv07SryYpp1jrXysmMixQqySkAAAAACMkDtuE+Ebi
+qqlbwcn9qb+pBeLb6bHm1oju9VpN52hlKtqFjoUXCj3bvUWvaqPDhSfu8Ninab9+kMvemHt1t58
MSa7rta6qurcTdSbfi9o+5LwL4iI7MO1ptO8zu+JI9ITgCmUSB2nDXFl1ZTVS1r1KMk8+zJpP5ZK
suGmWOXJWJh6pe1J3rMw9McuvpFdWtFGFzFXEFhZfVo5fU/pvT5etPllt8XFctOlusM68P8A0m+n
zS9Payg/E0OT9L5o+m27Z14xSe9Vxy+kd0TGVTlkxv8AxrU+Vn/LYvCz+JfpPbSCatrRyl4NmZj/
AEtkn679FN+MVj6avPvMvt8a1fqUKUvV6byvZ2eDotN+n9Nh62+aWqzcTy5OkdIedtW1WtcTdSvV
nWm3lylJv+bOjpStI2rEVj2au1pt1tO750ix5SEgAAAAAAAACMAQ4/P47kIVW1WUH3qc5QkvGMmv
yB27L54f5239BKM5RuYfw1Fnb5lc44n2ZFc949/uuF8ZaNfbXVt6vVf24bJPz2PO1q9lnPiv9UbS
4L7kTGou/p95Cun0pSaT+A+Jt3hE6ffrSd/ZYOu8G3dq8V7ecffBOS+8si0T2Y9qWr3h00aq818H
1+49PCpgZH5Gct3qF3FNfuoNSk/DY2eg0vx8kb9o7tFxfXRpcM7fVPSHui1tI04RpwSUIJKKXuO9
isVjaO0PkdrTaZtbrM93KiUJAAAAAAAAhgYU7SHK2N3bu4pxxWpLOV1aRo+JaSMlOeO8Op4FxCcG
T4dp+Wzxrutns1s15NHFPqP27KyUgAAAAAAAAABGAIlDPVJ/IhCj1deSJFaj8PuRAnBIkJAAAABR
KIQvfl/zTq2WaVVentJ7TpT3wn/DkqtTfr6r8eWadJ6x4d9xdyspV6TvtKl6Wk/aqW/26b6vC9x5
rfbpZZfFExzY+seseGKs9U8pp4afVP3lzEV5JSAAGQKJTCF+8BcpKl0vT3EvVrOO8qk9pTS8I565
KbX26R1lkY8M26z0q7fivmzTo03ZaVD0NFezUr/bqeDeeu5EU362e75YiOXH0jz6sV43bbbb3be7
b+JcxFSRIkJAAACMARKGfBBCj0C8kDZXGP8AWCEpwSJAAAAAAAAAAAAAAAAMAUyiQhy2N5UpPNKp
Om/+1siY3TEzHbov7Quet7SShWULmn0amk3j5niccT26MiuotHSeru/25od//e0nZ1X1nHZZPG1q
+73viv3jll8Oo8g6kl37C5p3MPKUl3sfAmMnpMbPNsE7b1mJh6W7P3ADsbP95FKtU+t7j6FwzBGP
FE+tnxzjmqnNqJr6UZORtXPJAAAAAAAAAAOG6tlOMotZUk0/mRMbxMT6prblmJj0eCOdHCXqd/Ui
liFRuSPn2tw/CyzHpL7FwrU/xGnrPrHSVkRZgNwkkAAAAAAAAAAAAAAAAAAAAAAKWiB3PCXF1xY1
VVoTa/ih9ia8U10PNqxPd6peaTvDJ93olnrkHVte7bahFZnRe0ar8cLzZTvNO/ZlzWuaN69LePLE
Gq6XVoVJUq0HTqReHGSxn3pl8Tuw5iYnae750z0gbCE0KMpyUIRc5yeIwistv5EJjxDLuh8uLbTq
cbzVZJ1Md6laJ758O+iibTbpX92ZXHXHHNk/FVm8fczbi/l3X+6t47U6ENopeGUiytIr91GTLN/a
PC0lEsUqgkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIwBTUhnqskIXFy9dX1ujClUnDM1lRbx1LsN
Oe9Y94Y2pyzixWtE7dJbDrSk406cXu1COX5vB9JpXlrFY9Ih8RyXm97WnvMy5T08JAAAAAAAAAAI
A8w9r/QNqVdLfOGzleM4+1nffpnN9WOXmlHMO8VEpAAAAAAAAAAAAAAAAAAAAAAAENAV2l1OnNVK
cnCcXlSi8MiYO3WGX9J4ztNXpxtdRUaV0lildJYy/DvPxKJrNOte3hmRkrljlv0n0lj3jfgK40+p
3K0cwf8Ad1o7wmvB56LYsraLR0Y98c0naf3cHCPBtxfVVTt4N/xVH9SC8X3uhM2iO6KUm87Qydca
xY6HF07ZRutQaxOs8ONN+73oq2m/fpDJm1cMbR1t58MR61rVa5qOrXqOpOTzlvKXuS8C6IiOzEmZ
tO8vkSPSEgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiRAv3kZaqWpUE/4kbDQRvnr92l4vbl0t
/s98VF/JH0KXx2EEJAAAAAAAAAACGBhPtVWmbHPkzR8WjfE6r9O221GzxrR6L4HEw+oz3ch6AAAA
AAAAAAAAAAAAAAAAAAAAAhkCieOv3Pxz7gh6H5NOpXtnDWElpa6Vam1Vf+Gd2vgY1+k/L3bLBvMf
+z6Pfu5OblWVraqOhrOnS+vXp71cf92N0iKdZ+bunN8tf/V9Pn1edIvO+c56ye7b97MprFeAlJIA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiRAv7kVcqOpUM/xI2HD52z1aXjFd9Lf7Pe9Xr8j6FL
47CCEgAAAAAAAAABDAwr2qLpKwx5s0fFp2xOp/Ttd9R9njOj0XwOJh9Snu5D0AAAAAAAAAAAAAAA
AAAAAAAACGwhXa206klTpxc5yeIxist/cRumI3naGXNG5f2umU43eqSU62O9StIvO/h30UTabdK/
uy646445snf0hZPHnMq4v5Yk/R0I7U6ENoqPhlIsrSKqcmWb+0ekJ4B5lV9PliP723ltUoS3i4+O
Mi1It9zHlmnvHrC8uIeXNvqFOV7pLSnjvVrR9U+r7qK62mvS37r7Y63jmx/mGI5wcW4yi4yi8SjL
Zpl7DEyRIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKZEId3wRqXorujU8prf5l+C3JkrPuxNXj
58N6+0tiNhdqpTp1IvKlCP8AI+k1nesT5iHxK9eW1qz6TL6CXlIAAAAAAAAABDA8y9r/AF5dylQT
3bTfwOX4zk6RV3n6Zw9bZJeZUjlnfKiUgAAAAAAAABkCMgMkBkkSAAAAAAABS2QO94O4IuL+p6Oh
F4X16r2hBeLz0PNrRXu90xzedq/uyVda/Y6JB0rRRub5rE67w4034934FO0379IZPNXD0r1t58MR
atq1W4qOrXm6lSTy23lL3IyIiI7MSZm07y+ZIlA0B93D/EFa0qxrW83Cafg/Zl7mjzMRPdNbTWd4
Zbbsteh9m01KK67KFZ/qynrT3hmfLmjxb/bEvEHD1a0qyo3EHCa8/qyXmn03LomJ6ww7Vms7T3fA
mShJIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIbIQolVS/Rb/yAubhvlvfXePRUJRg/wDqT2S9+54m
8R3WVxWt2j8r5t+VVhZYqajeRnKO6p0n4rweDxzzP0wyPgUrH/st+IenuUPG9ve2yVvtCjsk+uD6
Fw3N8TDET3ju+Mcc03wNTM1j5bdl8pm1aBIAAAAAAAAABxV6yjFyeyim38iJnaNyI3naPV4O55cX
et39Rp5hTbivI+f6/N8XNPiH2DhGm+Bp4j1t1WDFGvbtJIAAAAAAAhshCmdTHX/cDvOG+BL68aVr
a1aufHuPH34PM2iO8vdaWt9MTLLXD3Yh4iuEn6r6LPmVTnpDKro8tvRccvo7+IcZxH4Hn+Ios/gM
q0uJOxlxDapt2jqJdXHJ6jPSfVVbSZa+jEuu8M3VrLu3NvVpNecHj78F0TE9mLNZr3jZ1sZ56b/A
l5VJhKSQAZAolP8Ar9CEMh8CcopV4es3kvVrOO7ctpVF1wk/MqtfbpHWWTjw79bdIfXxjzbiqbs9
Mh6vbR9mVRbTqebz13IrT1t3TfN05adIYxjHr4t9W+r+ZcxVSRKUgAIaAQm4tSi3GUd1JPDT+JCG
W+HOYtvqFNWWrJd7Hdo3a+tF9F3mUTWa9a/szK5K3jlyfiVncfctK+nyTl+9t5b0q8N4teHea6Fl
bxb7+FOTFNPePK1Iv+vA9qlWSQAAAGQhGSEoc/evvCEelX8UfvBulS96fwAnISnJIAAAAAAAAAAA
AAAjJApnPHVpfHYIfbpOi17iSjQozqN/9r7v3kTO3d6is27QyJpXIaokql/cQtYdXDKbaKpyeI3Z
Maee952fd/8AKtG0/a1oetVl9ue8W/Pcjltbv0Tz46fTG8rY4k5z31xmMZq3p/wU1jb5HuMcR7qr
ZrW9vssepmT70nKbfVyeSxQyl2f+ZTsLuMZPFKo1GS8Fk23DtV8HJtPaXPca0H8ThmY+qvWHuCjX
jKKnF5jJZi17zu4neImO0vk0xMTMT3jpMK0BIAAAAAAAEMIYf7Q/M6NnbSpQl+9qJpJPdJmm4lqo
w05Y+qXTcE4fOoyxe0fLXq8Vyk223u5Ntv3s4f7vqsRtG0doVIlIAAAAAACGwLk5e8tb3Va8beyo
yqTk0nJJ92PxZXa0Vjqsx47ZJ2rDYfyD+jWtbeMK+qy9NW2fo/sp+Rr8mpmelW+wcOrHW/WfD2Vw
xy2sbOEYW9tSpqKwmoLJhTaZ7y29cda9oXKofD7jysTgCmdNPqk/isgWVxpyZ02/hKFzaUpqS3l3
Ume63mO0qb4aX7xDw72gvo0UlO50eeGsy9A/HxwjOx6n0s0ufh3rj/Z4H4l4XuLKtK3uqUqVWDaa
kmk8eRn1tE9YaS1ZrO0xtLrcnt5GwOSytJ1ZqnSg6lSTwoRWX8yNyImZ2hl3SuBbTSqaudScatw1
mlap5w/DvIom026V7eWZGOuOOa/WfSFi8dcxrjUJ/vH3KMdqdGO0Yrwyl7iytYqx8mSb9+3ha8UW
K1QAAAAAAKJQCGQeAObUreLtruPrNlPaUJ7umn4xz5FNqb9Y6SyMebl+W3Wr6+NuUkVT9d02XrFp
L2pU1vUpZ3xjrhEVv6W7vV8PTmp1j/TGcZ/7+afky5iq8kpAKXIIdvwvwhd3tRU7ShOtJvGYxbj9
5RlzUxRvktFY/wArKY7XnasbvTPLr6OfVbtRndTVvF4fd8cHL6n9SYMfTHHNLb4uFZL9bTtDOugf
Rk6dBL1ivKo/E0OT9UZp+iuzZV4PSPqndcM/o39CxhOWTG/8l1Xst/4nCtLiX6MSzmm7a5dN+CZm
Yv1Tkj667qL8HrP0zs898yuwJrNgpTopXNNb7bvB0Wl/UOmzdLfLLV5uGZcfWPmh501fSa1vN07i
lOjNPDU00s+46Sl63jekxMezVWiaztaNnzJntCSQAAAAAAAANgRkhCKOZvuwTqS/hgm2Duvnhzkt
fXCUpRjb0vGVX2ZY+ZXOSI92RXBe3XtHuuX/AOM6Lp+9xWd7VX2Fukzxva3bos5cdO880vg1XnzV
UfR2NCnbUuiaS72CYx+UTqJ7VjaGO9V1mtXfer1Z1G/Bt4RbERDFmZt3nd8kYYJQnBKU4IFOcdOv
gEPVHZk5u1Ky9Rqpy7q9mp4RXvZ1HDuIxG2LJP2lwXGuDWtM58Eb/wBUQ9GfNNea6P4HUuB9p9PQ
CUgAAACAAFocyeZNDTqEqlSS7+PYhndvw2MPU6qunrvPf0hstDob6vJFax09Z9HhbjXjGrfV5V6r
e7fdj4JHBZ81s15vb8Prml0tNNjjHT8z5dIihmpAAAAAABDYGQ+RnI+7128hbW8X6PK9LUx7MY53
3+BVkyRSN5X4cNstto/MtxPIbs92Wh20KVvTj6XC9JVaXelLx38jTZMk3nq6zBp64o2jv5ZXSKmU
kAAAAAKWgPP3ad7Jtlr1vNqEaV3GLdOrFJNvfCfxMjFlmk+zA1OlrljxPo1A8xOXtzpd3UtLqDhU
pyaTawpJPqjcVtFo3hyuTHOO01s4uC+Bbi/qdyhHEF9erLaEF45bFrRHdFMdrztH7sj33E1losHQ
slG4vWsTuHhqD8e6yqIm/We3hlTeuKNqdbeWItU1SrXqSq1pupUk8tt9PgXRGzCmZmd57vnSJEkg
AAAAAAABS4kC4OCePLjT6nfoyzB/3lJ7wmvFYe3Q82rEvdMk0np+zImq8G2msU5XWmuNG7SzVtXs
pPxcEVRaadJ7eWVNK5Y5qdJ9YYfu7SdOcqdSDhUi8ShJYa+8u3YUxtO0uFyJQ9NdmbsVXesuNzdq
VvZJp7ppzXu9xy/FON49L8mP5r/6bjR8Ptm+a3SrZJy35PadpVKNKzt4JxWHUcV3m145Pmmp1mbU
25slp+zrMWDHijasR917ObfVmDsyFKiekJAjukCpSfTOV5PoRslivm/2bdL1mlKNehCnWafdqwST
T89ja6PiefS2ia2mY8Sw8+kx5o2mNp8tZHaG7LV9oFVuUZVrNv2KsU3he8+ocO4ri1tek7X9Ycfq
tFfTz5r5YXjI3jXq0SkAAAAEZIQoqVUur/8Af8gO/wCHeBLy7a9DQn3X/wBSSxFe/c8zaI7ysrjt
btC/KHJm1tkp6leRTW/o6TWfg8FfPM/TDIjDWvW9vxCutzbsbRdzTrOLktlWmk38SOSZ7yfGrX6K
/lYvEnMS9u3++rSUf4YPC/ItisQotktbvK21SXXq/N9fzPSrZXgCSUgACGwh2PDXDdW7rRo0YuUp
Pd+EV4t/A8zMQ91rN52hlDi/ialpVD9n2LUrmS/5m4X2X4xiymsTaeb9mTktGOvw46zP1S7rk/2l
52yjb3mZ0+im+q+Z1Gj4pOPamTrHlwPE+A1y75MPS3jy9RcPcVW91BToVYzT37uVlHV48tMkb0mJ
fP8APp8mCdslZj39HbyWOpaxoQglIEZAprVFFZk1GPm3gT06z0I6ztEbz7MQ8zu0Xa2cZQoSVWtu
ljdJmm1XEseHpX5rOl0HA8uomLX+Wvu8jcYcaXF9VdWvJvL9mOdkcfmz3zW5rz+H0rS6XHpqcmON
vM+XSpFDMSAAAAAACGwOw4a4dq3lxStqMXKpVmorHhlnmZ2jeU1rNpiI9W6LsrcgaOh6fSgoL09S
KlVnj2u810yaXLk55dfpcEYqR59WcUUM1IAAAAAAAENAeZu2F2XbTWbf1qUe7Wt135SivanFbtbe
Zk4cs1nZrtXpq5I39YawuPeaTipWFjT9VoUm6c2lic2tnl9TaVp6z1c7ky7fJWNoj/LGCj+fV+L+
JcxFYSAAAAAAAAAAACGgPo0vVKtCpGrRm6dSLypReM/E8zG/dMTNZ3jpLL9prtnrkFRu+7bahFYp
11hRqPyl8SnaadusMyLVzdLdLefLLvZN7Fla6vHc6lHFrbyzDyrY3TXmmctxrjEYKfCxT89u/s2G
h4fN7c2TtH+WyWxsoUoRpUoKnTglGMIrCSR8wmZtM2tO8z3mXWxERG0dIc6RAkkAAAABDQHUcV8K
W99QnbXNONSlOLi1JJ4ztleRbiy3w3i9J2mHi9K5K8to3iWpftXdm2roF45QTlZVpN0542hl9Gz6
5wjiddbj2npevePLidbpJ09un0z2YNTN81yokRkCHL4L47EIc+nafVrSUaNKdWT8FF4+8iZ2TETP
bqyJovIe4a795WhaU+rjJrvNFU5I9OrJrp5/mnldmtW0TTv7mm7yuvGW8ckbXt36Q974sfb5pW/x
Dzvva6cKXdtafTuQWNvkeoxxHuqtntPSOkLCr1JTfenKU2+rm8lrHnr3Ev6QE4JSAAAACGyB9Wj6
PUuKkaNKLlObwkvDPiRM7d0xWbTtDLmuatS0O39Vt3GeoVo/vqi39Emt0n4MpiOed57MyZjDHLX6
p7z4YYbbbcm5Sk8yk922y9hDiB2mhcU3NrLvUKsoY8MvBbjy3xzvWdmNm0+PNG2SsSy7wx2s72kl
GtBVEvE3OLjGSv1Ru5nUfpvBk60nlX/YdsO2a/eUWmbCvGqT9VWnv+mMsfTZ9VXtfWWPZpSye54z
i8Ko/TWf1tC2Nc7Y0mmqFHHvZi341P8AJVn4v0vHfJZibi3nXqF5lTquEX9mLxsafNrs2XvOzpNN
wnT4O1d58ysV5by2231b3ZgNx26QlIJSSAAAAAAAKZMge2vo2OSiurqepVod6FLaGV4+DRham+0b
Nxw/DzTzT6NpEIYNU6VWAAAAAAAAAAcNxQUk4ySakmmn0w9giWnLt4cm1pWsTq0492hc5ksLC7z3
NzgvzV+zk9bh+Hk3jtLzbEyWvVEgAAAAAAAAAAAAEMgX9yH5V1dY1O3tKafd76lOS+yk8vc13ENX
XS4bZJ77dGTpsM5skVhug4d0CFpb0bWm8woQjFPxbSw8+Z8Wy5bZrzkt3tO7v6VilYrHo7JIqekg
AAAAAAARghKwudvKujrGnV7SrFOThJ021upJPGH8TP0Ortpc1clZ9ev2Y2owxmxzWfw0xcYcJ1bC
6r2dZNToTlHddY52f3H2vDmrmpXJXtaHAXxzjtNZ9JdPGWXiKc35Q3f3FyteXDXKG/usSVNUafjO
r7LS+DK5vEL64b29o912f/BtIsF3ry59aqL/AKcOiflseea09ui34eOn1Tu+XUee/ci6en21OhDo
ptLvY8/MiMfmd0TqNulI2Y71riK4uX3q9adTPhlpF0ViOzGtaZ7zu6+NNLov1JeVWCUpAAAAAABD
YHLZWU6s406cXKc3iMV13IkiN52hmStUpaDbYXdqanXjt4+gTXX3Mx/rn2j/ACzemCPNp/wwxcXE
pzlUqSc6k23KT3bbMhhTO87yhIkAIaIQYAhx9wSdz3ICcAMASSAAAAAAAAADjdNyxFdZNL72Qhul
7FHAUbLRLbCxKrBSl8cGlz23tLsNHj5McPQJjs5IAAAAAAAAABDA8Z/SXcvVc6TG6Ufat5d7Pjgz
NNba23lqOI496b+GqWnLZPzSNs5hyEpAAAAAAAAAAAAA45y6+4hDY99GxyrVG0ralUj7dX2aTa3X
wPmv6m1fPkrhiekd3WcIw7VnJMd+z2pH/c4lv1RIAAAAAAAAAKU8EDwV25+QVn65T1SvW9XoyWKn
d277Po/6b1k3xzhnrMdnNcS01eaMkztE93mCfM3TLFdywtFUqLpWms5952XJae8tL8WlOlI395Wb
xLzSv7vPpKzpx/gp7LHyLIpEKLZbW7z+y0/Rb56vzby3957VK8BKSQAAAAAAAAhsBSpOTUYpylJ4
ilu2yJGaNMsqOhWyuKyVTUK0f3NJ7+jT6Sa8GjHne87ejNiIwxzT9U9o8MPanqdSvUnWrSc6k23J
vwz4L3F8RtHRhTMzO895cCRIkkAAAAAAAAAAAAAAAAAAwOy4StPSXlrD+KtBP8SPM9peqdbRHu3y
crdNVKwtoJYSpQ/0mhv3l22KNqx9l2nhaAAAAAAAAAAADDfay0hVtCvoNZ/dN/kXYp2tDD1Ub45+
zR73cOS22k11Xg2bxxqv7vvCT7vvCD+upKQgCRGQGQGQGQgyEmQGQhNvQ784Q/jnFfezzM7RM+IT
HWW6zs/cLqz0ayopY9iM380j4hxDLOXU3t77PoOlpyYqx7MhxNeyUkgAAAAAAAAAiQHnPt38GRu9
CrNrvOj7a+R0XAc3w9VHv0aviWPmwz7dWpW1l7MfDzXw2Pr093EQ5lECQkAAAAAAAAAAKUm2kt29
kl1bIGZOF9Bo6Rbq/vEpXM1/y1u+qb6Sa9xRM887R29WbSsYo5rd57QxXr+v1bqtOvXl3qk38oLw
ii6I2jaGJa02neXwJHp5SAAAAAAAAAAAAAAAAAAABgd7y8qpahZt/wCND/UjxbtL3j+qPu3z8DVE
7Wg1/hQ/0mht3dtT6Y+zvzysAAAAAAAAAAABjrn7UorSrt1/7r0cu9jywWY9+aNlGbbknfs08VtJ
4clKb79SOZy8X5s2/wA7lZjDPlSuE+H30rzXzJ3v4eeTD5Vf/B9CfS6kvmRzW8Hw8Xk/4d6M+l7j
5jmt4T8LH/Uf8LtJfTUEiee3g+Fj/qS+T1g/q6lBfcOefCPg1/rP+CNr4anT/Ij4k+D4Ff61L5F0
PDU6f3ofEnwfAj+tD5D0/DUqX3on4nsfw/8AdCmXIHy1Kl96HxPY/h/7oUS7P1X7N9RfzQ+JHhH8
PP8AVDil2fbrwuqT+aHxI8J/h7eYUy7P954VqT/+yJ+JCP4e3mH38L9n+99at8ypuKqxb9pdMlOb
LEY7fZ7pprc0du7cPw9b9y3tofwUIRfxSR8OyTve8/3S7yvSsfaHYI8PSQAAAAAAAAACGQMc9oWz
U9Fv0/CjN/kzY8Ottqcf/aGLqo3xW+0tJ9BbNeUpL8z7hL57DnD0AAAAAAAAADAobAy7wJwjRsKH
7T1BLztqD6zl4NryyY9rc08sfll46RSOe/4hjri7i2tfV5V6z3b9iH2acfBJeGxbWvLG0Ma95vO8
upSPbykAAAAAAAAAAAAAAAAAAAABgc+kXfo61Gp/BUg/uaIkidpiW9bkDr6udKtKqee9Sj+SNDkj
a0u1wW5qRPsyMVsgAAAAAAAAAAIA899uPiqNtoF1l4lUi4peZkYI3vDA1luXFLS1CKe+Fvv95unI
K/QLyAj1deX5g2R6rHy/MGyPVI+T+8B6rHyf4mDZPq69/wCJg2T6P3y/EwJS/wC6X4mBUpP+Of4m
EuSN1UXSrNf/AGY2N58uSOp1l/1qn4mRtBvPmVa1q4XS4qfiY2g3nzLtuE+KbmF1bSdzUwqsMrL/
AIinNWJx2j2lZS8xaOs927zha679paTTz3renv78I+F5Y2yXj+6X0SnWtZ9odoit6SAAAAAAAAAA
QwMado7UlS0S/bfWjNfkzY8NrzanHH90MXVztit9mlO3e2fNyf5n2+Xz6H0BIAAAAAAAAAolIIZT
5ccCUqVJ6lqHs0Ke9Km+tWS3SS8UUWtMzywy8WOIjnv2jtHlZ3HnHNXUK/pans047UaS+rCK6bdM
llaxWFOS83nee3pC30j0rSSAAAAAAAAAAAAAAAAAAAAAAHFUjt+ZCG1z6OHmorvTPVZz/eW/sqLe
+DU6mu07uo4fk5qbeHstMw22SAAAAAAAAAAUyA10fSjc0li302nL2s96ok/D3mx0tfVz/EsvakNe
SibFoVZKQAAAAAAAAAAAAKYVXFxkvsyUvuZ5nrvA3PdmPi5Xuh2dVPLjFQl8kkfFOKYZw6m9fPV3
2jvz4az+GUomsZqoIAAAAAAAAAFMiB5k+kD44Vpok6ecTrvupeO50/6ewTk1MW9K9Wo4pk5MO3no
1TW8MRivJf7n1qe7i4cwSAAAAAAAAUSZAyRyw5eQqRd9ev0dnR9r2tnUa6RXnkpvf0juyMWPf5rd
Kx/l0nMfmHPUKqwvR2tL2aFFbLurpJrzPda8v3eMuTnn2jtC1MFipIAAAAAAAAAAAAAAAAAAAAAA
ABTJAZw7H/OuWjatSlKWKNZqE89FnxMfNTmqzNJm+FePEt0mh6xCvShWpyUoVIqUWvFNZNLMbOvi
d43h2JD0AAAAAAAAALZ5hcb0dPtK11WkowpQlLL8Wl0PVa807K8l4pWZlo6538zamr6ncXk23GU5
Kn5dzOxvMdeWNnGZsk5LzafwsZIsUpJAAAAAAAAAAAAAKJxCHv76NPm3HFfSqs8N+1RTfj7j57+p
9HPy56x0/mdPwjP3xz+HvNL8tvuOAdKqJQAAAAAAAAAKV/8ApCWrz6Q/mwr7U4WNOWaVt/eYe3eX
Q+p/pzSfBwzlnvbt9nHcVz8+TkjtDynE61pUkgAAAAAAClyAvzlhy49ak7iu/RWdH2qlSWylj7Kz
1yVWvt09V+LHzdZ6Vj1cPM/mN67JUKC9HZUPZpU1t38fal5ildu/dGXJz9I6VjtCyYosUqiQAAAA
AAAAAAAAAAAAAAAAAAAAAFEl5bNbp+TIQ2K9gTtdRcY6Tf1MSWI0Kkns14RyzW6jD/NDf6HV/wAl
vw2G0qqaynlPo/P4Gvb9yAAAAAAAgD576+jTjKc5KMIpuUm8JJe8Imdu7W52ru2rbXd3PS4x9Jp+
XCtUi+r6No2WLBMRv6tBqdZW1uTvX1eR+PeUzoQV1Zy9Ys57px3lTT8GvcZdb79J6S1WTFy/NXrX
/THsZ/1+paxleSUgAAAAAAAAAAAAQ0BcnLTj2rpl9QvKLalTnFyx4xzv+RiarT11GK2O3rHRbhyz
ivF49G57lVzKoatY0b2hJPvwj6SKe8JY3z8T4pq9NbTZbY7R2np7u/w5Yy0i8LtTMReqJQAAAAAA
ApyBh/tP876OiabVquS9PUi4UYZ9rLWM4NvwvQ21eaKxHyx1mWDrNTGDHM+s9oaeNW1apcVqtxVb
lVrTc5N+95SPstKRSsVr2iNocJNptM2nvLgLEAAAAAAAKZMhC8eWnLqd9Ubk/R21L2q1V7JRW7Sf
meL22+6/Fim8+0d5dlzR5ixrJWVmvR2NH2fZ2daS2beOqZ5pXbrPd6y5N/lr9Mf5Y8SLWOqJAAAA
AAAAAAAAAAAAAAAAAAAAAAADAqtLudOcalOThODzGSeGmiDt2bBeyT9IGoqnYavJ5WI067fVdF3m
a7Np/Wre6XX9q3/dsI0HiOjc01VoVIVYSSalBprc18xMd2+raLdYdmmQ9JAAAIcgLe4z49tbClKt
dVoUoRTftSSb+CPVazbsrvetI3tOzWZ2tu3rV1Lv2OmOVO2y4zqp4c10NnhwcvWzndVrpv8ALTt5
eLmm8tvLe7b3bfi2ZzTrr4C5lV7CWI/vKEtqlGW8WvHCZXakW9l2PLNPt6wvPiPl3b6hSle6U13s
d6tavqn491FcWmvS37rrY4vHNj/MMR1IOLcZJxlF4lF7NMv3YhkkSAAAAAAAAAAAAFMkBnrso9p2
toN0oVHKdlVklUg3tHPivgc9xfhddZTeOl47S2Wi1k4Ldfpnu2vcJcXW9/Qhc2tSNSlNKXsvLjnf
DPkubDfDeaXjaYdrS9clYtWd4l3KZS9mQlJKAABGSAbAsrmvzbs9GtZ3N3UjFxi3Cnld6T8NviZu
k0mTVXimOPvPpCjPmrhrzWn8NRXPvnlc69ezuKzaoxbVClnaK8Hg+wcP0FNHiilfq/mlw2p1Ns9+
ae3pDHKNmxUkgAAAAAENgXLy/wCAquoVu5H2aUd6tV7RjFddyu1orCzHjm87enrK6OZnH1OFNaZp
/s21LatVjs601138UeKV/mnuuy5I25Kdo7z5YwjHBcxFZKQAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
gDjnT/ry+BCGWeUXah1fRpR9BXlUoprNKbbWPLcpvirbuy8Wpvj7T08Pa3LP6UazqqMdQoypT2Tc
enxMK2ln0bfHxKs/XD0Bw12z9BuUnG8hDP8AG0Y84bR6M+usxT6rmn2ltESz+0KH4kefhW8LP4nH
/VCzuKO3BoFsm3dRqY8INbnuMFp9FNtZir6vOHNH6UmmlKnplu5N5SnPfHvMmml8tfl4l6Uh4q5o
c+NU1io53lxNwztTUn3UvLBm1x1r2hp8me+T6p/CwIwLVCvAShoIdhw7xFWtKqrUJuE091naXua6
HmYie71W01neJZZlTstdhmPdtdSium0YVn+rKOtPeGZ8uaPFv9sR67oNa1qyo14OE4vxW0ven0wX
xMSw7Vms7T3fEmekJAAAAAAAAAAAACmUAhlzkN2mdQ0GqnSnKpbt+3Rk8rHjhGm4hwvFrK/NG1vS
zO02svgnp1jw2Tcmu13pOsQjitG3uGl3qc2ks+4+Z63g+o0sz0m1fSYdbp9dizeu0+GbqXtLvRan
F9JRaefuNHPTpPRsfsZ+P3MB3/6wBK+f3MDivLmNKLlVnGlFbuUpJE1ibTtWJn7E7R36PN/PTtya
ZpUZU7aSurnDS7rzFM6XQcCzaiYm8clffu1Gp4ljxdK9Za2ubfOa+1q4de8qScc5hSy+7FeGx9M0
eixaSnLjj7z6uTz6i+ad7T+FkKJnMZUSkAAAAACGyEO64M4OrX1eNGkuv15+EI+LbPNrcsbrKUm8
7Qv7mFxnSs6P7L059Nrq4j1nLxin5Fda83zT+IZGS8Ujkp+Z8sSwgXMNWSkAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAEYIFMqafVJhCj1deHeXwbQEul/wB1T8T/AFAhWy97+Lb/APYNnJGHkkvgBOAl
JIAAIaCE0qsoyU4ScZR3Uk8NYISy7oHH1tqVONnqiUaiXdo3S6p+HeZRNZrO9f2ZdckZI5b9/SVj
8d8u6+nzxNd+jLenXjvGS8MtdCyt+ZRkxzTv28rYTPatUSAAAAAAAAAAAAhoCbatKnJTpylTmuko
to8zEWjaY3j3ImY6wzBwD2uNc0/ChcyqwX2Ztvb7zTajg+lz967T5hnYtdmx9p3Z00D6Ty9gl6xb
Rk/HCNDk/S2Kfpts2VeMX/mhcM/pSNtrPf4GP/4r/et/5n+1aHEv0meo1E1b0Iwz4tdDMxfpfDX6
7bqL8YvP0xswHx72lNZ1Jv011OEH1hGTXy6nQafhmnwfTSJnzLWZdXlyd7Sxk45febcpPq5PL+82
nsw1SQSkkAAAAAAhshDseGuHKt3WjQoxcpyeH5RXi35YImdo3l7rWbTtDKHGPElLSaD06xkpXM1/
zVwusc9YxZTWOad5/EMq94xxyV7+ssORj887tvq35svYSpEpSAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAGAKJQIQyNwHzZ9FD1S+j6xZz29reVPPim99iq1PWOksnHm2jlt1qcecp/
RQ9bsZesWct/Z3nSz4Ne4Vvv0npJkw7RzV61/wBMcxn/AF+pax1ZIAAAAAAAAAAAABGCAwEGPgAw
EmCRIAAAAAAAENgfTpOkVLirCjSi5VJvCSX5s8zOxFZtO0Mva5qlLQ7d2tu4z1GtH99VW/oU1uk/
BlMRN53nszbTGGvLH1T3nwwu5NtttuUnmUn1bfUvYKolIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAABgCloC6OA+YtfT55g+/RltUoy3jJeOEyu1eZbTLNO3bwvfX+X1tqVOV5pTU
amO9WtH1z1fcRXFprO1v3X2xxkjmx/mGIatKUZOMouMovEovZpovhhiZIkAAAAAAAAAAAAAAAAAA
AAAAAAhshDks7SdScadOLlObSjFbttieiYjfpDM1SdLQLbC7tTVLiPx9BFrr7pIx/rn2ZvTBXzef
8ML3FxOc5TqSc5zblOT3bb6/IyIYW+/WVKRIkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAhoD7dC16ta1Y1qE3CcX4PaXuZ5mInumtprO8Mtqdlr0N+7a6lFbPZQrNf8AtlHW
nvDM+XNHi3+2JuIOHa1pVlRuIOE15/VkvNP3l8TE9mJas1naXwJnp5SAAAAAAAAAAAGQGSAySAAA
AAAADYEU6bk1GKcpSaUYrq34EI7s06XZUdCtlc10qmo14/uKT39EmtpNeDRRPzzt6QzoiMNd562n
tHhh7UtTqV6k61aTnVqPMpN+fgvcXxG3ZhzMzO893zpEoSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAENAKc3FqUW4yi8qSeGn8SNkMucOcw7fUKastVS72O7RuvtRfh3mU
TSa9a/szK5IvHLk/ErM495b19Pn7X7yhLelXhvGS8MtdCytolTkxzT7ekrVT/rwPalUSkAAAAABk
Cly/pkIV2tvOo+7ThOo/DuxbX8iJtFfqmI+6YiZ7Lw0fkrq9felY1Gn5xa/9GFfXaen1ZI/dfXT5
bdqy7qXZl15LP7Pnj4P9Cj/lNL/+yFn8Hm/pW7rPKXVLfetZVYpdWot/+jJx6zBf6bxP5VWwZK96
ytStmLxKMoPymnH/ANGZE79Y2n7KJ6d0p/14ATklIAAMCn3JZb2S8WyBmThXh+jpFstQvYqVzUX/
ACtu+uX0lJeGCiZm88sdvVmUrGKvPbv6QxVxBr9a7rTuK8nKpN590V4RXl5F0RERtDEtabTvPd8K
R6QkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABROBCGROAebToQ9
VvY+sWc9mpbyp58Yt77FVqesdJZOPNtHLbrVycdcpO5D1zT5esWcvacY7zpZ8GvJCt/SekpyYdo5
qdY/0xvCf9eXuLWKrySkAAAIbIH2aJoda6qxo29OVWpJ4UYpvr54K8mSuOvNeYiI8vVazadqxvL2
hyN+jkq14wuNVn6OLw/Qry95xOv/AFJWkzTBG8+W/wBNwmbfNknb2ey+Bezto+nxUaFpTk19qUU3
n5nF6jiWozzva8x7Q3+PS4sf01hkO3sacFiFKnDHlFGumZnvMz+WVERHaIfQ5/8Aj+FEbJ3fHeaR
RqLFShTmn1zFHqLWr2tMfl5mInvEMVcw+ylompRaqW0aU2niUElh/I2um4tqcE9LTMeJYWXRYsne
Nnh/nt9H5e6ep3Fg3c0Fl9zrJL3HdaD9Q4s+1Mvy28ud1PC74/mp1h5RuLecJuFSMoTi8ShJYafz
OuiYmN4neJ9YaWenSeihM9CQKJSIGXeA+EKNhQ/amoLpva2761JeDa8ii0808sflmY6RSPiX/EeW
O+L+La19XlXrPd/Uh9mnHwSXwLa1iI2Y17zed5dQke3hIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAApcSELl4F5hXGnzzSfepS/vKMt4Sj47P3Hi1Ystx5LUnp28L
813gS21SnK80tqFdLNa0ezz4uCK4tNelv3ZFsdckc2Pv61Ygr0JQlKE4uE4vEoyWGn8y9hoTAkkQ
2ELj5d8u7rVbqnaWsHOc2k2ltFPq2zE1Oppp8c5Mk7RH+V2LFbLaK1bW+zn2VrLQqEHKEa15JJzq
SSfdfksnyXiXFsusvO0zFPSHa6TRUwR23t5Zybz1NG2JgIMEicARgBggR7uqfVPdMJeV+1V2MLbV
aU7uxgqN7BOWIrCqY3xsdXwnjd9NaMeWeak+fRptbw+uWJtTpb/bWJruhVrWtUt7iDp1abcZRax0
8UfUceSuSsXpO8T2lx9qzWZraNph8MpFjwyny14DpUqT1PUfZtqe9Km9nVmuiSfVZKb23nlhl4sc
RHPft6R5Wfx5x3V1Cv6Wp7NOPs0KS+rCC6bdMllaxWOinJkm87z29IW8ke1aQAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQ0QPr0TW61tVjWoTcKkXnKeE/c/Mi
Y36SmtprO8dGXqd3Z69Du1O7a6lFezPZQrNefvZR1p7wzN65o69Lf7Ym4j4ar2dV0biDhNPZ/Zmv
NPo8l0TE9mJas1naXX5PTy5bCxnWqQpU05TqSUYpdct4PNrRWJtPaOskRMztHeW2nsgdnOlolhCt
Ugne3EVKcmt4JrovI+Q8Z4lbV5ZrE/JXpEeXb6DSRgpEz9UvQJz7aKkSgAAAAAABCZCXjXt5dmSN
7bS1SzppXNFd6qor68V1e3U7PgHFJxX+Bkn5bdt/RoeJ6Pnr8SkdY7vD3K3l1GpGV9ffurOg22pb
OpOP2Un1y0fSL226R3lzeLHv81ulYdLzI5iT1CqsL0drS9mhRWyUVspNeZ6rXl+6vLk+JPiI7QtR
IsUpCQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACMARGTT
UotxknlSTw0/iQMucNcx6F9SjZask9u7RuvtQfhllE0mvWv7MuuWLxy5PxKz+YHLSvYSTf722nvT
rw3i14d5roWVvzffwpyYpp7x6S9B/R78l1qGou+rRUqFr7Sytm/A5T9Ra34OH4VZ+a7a8L0/xL88
9obQW8/yXuXgfLXYqsEoAAAAAAAAIaA4bi0jUjKnNJwmnGSfRpiJmsxMd46m0T0lqi7ceh17PUla
d30VjLM6VOO0W85y8bH2Hg2qjUaeLT1tXpLieI1mmTl7V9HnCKN81askAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABRKJCF/8AAXNiVvH1W6j6zZ1PZcJb
uGdsxz5Fdqb9Y6TDJx5uX5bdaz/htN7KHLy10/SYStfqXT7+/VJ7935HyHjeonNqZie1ezs9Dirj
xRy+rMsTRM9UAAAAAAAAAAUshLxn9JTy9VfTqV7GP7yjJZfj3c7nafpnUcmacc9phoOL4uakXjvD
WzCecPwZ9Mck5CUgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAhsD6tCtu/cUIfxVYL/wDoryTtS0+0pr1tEe7eLy90qNCwsqUVhKhTlhebSPhWotz5bzP9
UvouKOWlY9oXCihYkAAAAAAAAAAhkDEXas0NXGhXsWs92nKX3Jm34Tk5NVT7wwtbXmw2+zTLa/VS
8u8vzPtU93AQ+gPQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAIkB3PArXr1rnp6aH+ox9R/wDFf7S94/rr928jQH/y9r//AJ6f8kfCsn12/wC0votfpj7Q
7BHh6AAAAAAAAAACJAY/59yS0bUM/wCDP+TM/h//AOTj/wC0MfU//Fb7S0k0PH/yl/M+4z//ACHz
yHOEgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMDm0
q57lajP+GpF/meLxvW0eYlNZ2mJ928DlbrSuNNsqy3zQhH7kj4Xq6cma9f7pfRMNubHWfZdMWYy1
IAAAAAAAAABEmBhbtf8AESttCu5N4c4SivflG54Pj+Jqqe0xLA11+XDZpxtPqp+eX97PtE93BQ+g
h6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4qi/L
dBDa72BeYyvtFVByzUtXuvHB8k/UGm+Dqeb0u7XhmbnxcvrD0tFnMtuqJQAAAAAAAAAKWQl4Z+kz
5kKFtQ06EvbqSUpJeS65O6/S+l3vbNPaOjnOMZdqxSPVr0ivy/Q+jOWVkpAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApkB6H7EPOv9k6rCnUli2uWoTy
9svoc3x3Q/xOCZr9VesNpw7UfCybT2ltnhUTSlFpxklKLXRp9D5F26T6dJdurTJQkAAAAAAACMgd
fr2uU7ajVuKrUYUoOTb2WybPeOk5LRSvWZnZFrRWJtPo0y9obmpLWNVuLrOacZyhR8u6njY+08O0
kaXBXH6zG9nA6vN8bJNvT0Y5SNoxEgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAUxk01KLxKLTi11TRExv0kbNuw52o4ahbQ028qKN1RSVKUn9dLwyz
5dx3hU4Lzmxx8tu+3o6/h2sjJX4dp6x2eumsHIN4qTJQAAAAABDYEe97Jbt+CRCWvrt69qZVM6PY
VNulxUi/vWUfQv0/wnl//wBGWP8ArEuY4nrd/wD1Un7vCcIY2/rPj9537mlYSAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQwPs0PXK1rWhXoTdOrTa
lGUXjp4MryY65KzW8bxL1W01neOktlfZb7cNvqNOnZ6lJUbuKUY1JPEZ+Cyz5jxXgV8EzkwxvTvt
4dbo+I1yRy5OlvL1vTmmlKLUovpKLyn9xyHadp6T4bxUmAySgyAyAbIHz6hfwowdStONOnFZcpvC
wvieq1m07ViZnxBMxEbz0h4R7WXbrj3amn6RLLeY1K6+591necI4DO8ZdRHvFXN63iXSaYvzLwNW
rSnKU5ycpybcpPdts+gxERG0dIj0cz36yI9AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQ0AhJxalFuMlupR2aZExv0nsPRXJTtx6ppPdp1pO6t1
hYk8tL5nNa7gODU72r8tvZtNPxHJi6T1h7Q5ddvfRb1RVaTt6j6954WTitT+n9Thn5fmh0GLieK/
fpLNOlc29LrpOnfUXn/uRpL6TPTvjs2EZ8du1odo+M7Lr65Rx/5RKvgZP6LPfxK/1Q6HXOdmk26b
q31HbwUkX49DqL/TSVdtRjr3tDA3Mv6RDSrRSjaRdeqspPqsm/0v6cz5Z3yfLDW5uK4qdK9ZeJec
3a01XWZOM6sqFB/9ODxt8judFwjBpOsRzW8y53Ua7Jm7ztHhheMP92+r+Ju2vV4JSAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhogccqC+Hw
2JQ+q21KtD6larD4Tf6niaVnvWJ/CYmY7TL63xVeYx61W/G/1PHwcf8ATH7PXPb+qXw3N3Un9erU
n8ZP9SyKxHaIj8PMzM95lwwopeH6npCvBCU4JAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP/9k=" 
        type = "image/x-icon">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    

    <header class="page-header" role="banner">
      
      <h1 class="project-name"> Machine Learning (ML) shots </h1>
      <h3> Journey towards meaningful Machine Learning </h3> 
      
      <a href="https://www.youtube.com/@ml_shots" class="btn">Youtube</a> 
            
      
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">If you have any complaint about the content please contact in this mail id: sci.ml.shorts@gmail.com  </a>.</span>
      </footer>
    </main>
  </body>
</html>
