<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <title> ML shots </title>
  <link rel = "icon" href = "data:image/x-icon;base64,/9j/4AAQSkZJRgABAQAAkACQAAD/4QCMRXhpZgAATU0AKgAAAAgABQESAAMAAAABAAEAAAEaAAUA
AAABAAAASgEbAAUAAAABAAAAUgEoAAMAAAABAAIAAIdpAAQAAAABAAAAWgAAAAAAAACQAAAAAQAA
AJAAAAABAAOgAQADAAAAAQABAACgAgAEAAAAAQAAAligAwAEAAAAAQAAAlgAAAAA/+0AOFBob3Rv
c2hvcCAzLjAAOEJJTQQEAAAAAAAAOEJJTQQlAAAAAAAQ1B2M2Y8AsgTpgAmY7PhCfv/AABEIAlgC
WAMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQD
BQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygp
KjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJma
oqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/
xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQID
EQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RF
RkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqy
s7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2wBDAAICAgICAgMC
AgMFAwMDBQYFBQUFBggGBgYGBggKCAgICAgICgoKCgoKCgoMDAwMDAwODg4ODg8PDw8PDw8PDw//
2wBDAQICAgQEBAcEBAcQCwkLEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQ
EBAQEBAQEBAQEBD/3QAEACb/2gAMAwEAAhEDEQA/AP38ooooAKKKKACiiigAooooAKKKKACiiigA
ooooAKKKKACiiigAooooAKKKKACiiigAoorjPGnxF8BfDnT/AO1fHniGw0C1IJV724jg347IHILn
2UE+1NJvRClJJXZ2dFfm18R/+Cn3wH8KGW08D2eoeM7tMhXiT7FaEjsZZx5n4iFh718IfED/AIKe
/tAeJzLb+DbbTfB9q2djQQ/bLoA+slxujP1ES12U8vqy6W9TycRnmGp/av6a/wDAP6EmZUUu5Cqo
ySeAAO5rw3xn+03+z98P/MXxV4+0i2mizvgiuVubhcesNv5kn/jtfzF+N/jN8WfiS7nx34v1TW43
OfJubqR4B/uw58tfoqivM67oZQvtSPHrcUP/AJdw+8/oZ8W/8FP/ANnPQt8fh6DWPEsg+61taLBC
fq1y8Tgf9sz9K+b/ABN/wVq1aTdH4N+HUMGPuy39+0ufrFFFHj/v4a/HaiuqGW0l0ueZV4gxMtpW
9Efoh4g/4KeftMauWGmDRdDU9Psti0hA+tzLMCfwrxzWf24/2rtdJN58QryEHtaw21pj/vxEhr5S
phauiOFpraK+44Z5jXlvUf3nsmp/tEfH7WCf7S+I/iKdT/CdVugn/fIkC/pXE3nj/wAeaixbUPEW
pXRPeW8mf/0JzWV4c8NeJPGGoJpfhfTJtQuHbb8iEoPrX2/8Ov8Agnf8XPGEcV54olXR7d8Nt6HF
cOPzTB4RXxE1H8/uLw+HxNd2ppv7z4Rn1W9uTuuL2Rie8kjN/M1U+0R53eaM+u6v2r8P/wDBMLwP
Zxp/wkGsPcP/ABV2b/8ABNv4NyR+X9off/er5mp4iZWnZNv0R6seGMY9X+Z+F1vqV9bMGs7qVSO8
cjD+RFdFZ+PvHunENp/iTUrUjoYryZP/AEFhX60+J/8Agl94XuI3/wCEX117d/4dxr46+JX7Bvxo
+H8ct5pcX9sWkXzbl5fFelgeMMsxD5YVEn56HLiMkxlJXcX8meI6Z+0R8ftHI/s34j+IoFH8I1W6
Kf8AfJkK/pXpmjftx/tXaEQbP4hXkwHa6htrvP8A3/ic18tanp+qaHePp+uWkun3SNtZJQRn6VWB
zX0fsqcleyf3HmxxVWLsptfNn6I+H/8Agp5+0xpBUamNF1xR1+1WLRkj620sIB/CvefDP/BWrVo9
sfjL4dQz5+9LYX7RY+kUsUmf+/gr8dqKylgaT+ydVPOMTHab+ev5n9DPhL/gp/8As567sj8Qwax4
akP3mubRZ4R9Gtnlcj/tmPpX1P4M/ab/AGfviB5a+FfH2kXM0uNkEtyttcNn0huPLk/8dr+T+iua
eVU3s2j0aXE1ZfGk/wAD+zJWV1DoQysMgjkEHuKdX8i/gj4zfFn4bOh8CeL9U0SNDnyba6kSA/70
OfLb6Mpr7U+H/wDwU9/aA8MGK38ZW2m+MLVcb2nh+x3RA9JLfbGPqYmrjqZVNfC7nq0OJqMvjTX4
n9ClFfm18OP+Cn3wH8VmK08cWeoeDLt8BnlT7baAnsJYB5n4mFR7195eC/iL4C+I2n/2r4D8Q2Gv
2oALPZXEc+zPZwhJQ+zAH2rhqUJw+JHtYfG0qv8ADkmdnRRRWJ1BRRRQAUUUUAFFFFABRRRQAUUU
UAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAH/9D9/KKKKACiiigAooooAKKKKACiiigAoooo
AKKKKACiiigAooooAKKKKACisTxF4l8O+ENHuPEHirU7bSNMtBulubuVYYUHu7kDntzzX5g/G7/g
qJ4G8NG40X4KaU3ii/TKjUbwPb6ejeqR/LNMM+vlDuGIralh5zdoo5cVjaVFXqSsfqjd3lpp9rLf
X86W1tApeSWVgiIq8lmZsAAdya+FPi//AMFEv2fvhkZtO8P3snjfV48jydKINsrD+/dt+7x7xeYR
6V+Fnxb/AGjPjL8b7ppfiJ4luL603bksYz5FlHjptt48ISOzMC3qxrxGvWo5UlrNny+L4mk9KMbe
bP0F+K//AAUj/aB+IBmsvCc1v4H0uTICaevmXZU9nupQWBH96JYzXwhreva54l1KXWfEeo3Oq385
zJcXczzzOf8AaeQlj+JrJor1KdGENIqx87XxdSq71JNhRRRWhzhRRRQAUUVGzUADvX23+zT+xd4w
+NlxF4g8SK+leHEYNuYEGQe1dN+xZ+ydcfFjWE8eeNYmi8OaewKIw/1pHT6iv3c0/T9P0fT4tL0e
3FrZW6hEiQAAAcdq/MOM+OHhm8LhH7/V9vL1Prsi4d9svbV/h6Lueb/DT4KfDf4T6XFp/hPSoklR
QrTOgLk+ua9XZ5JP4/8AgPakAxS1+J1606snOpJtvqz7+nTjBcsVZDNlO2ilorIsbtNO3yf6v76f
3W5FFFFh3Pnr4x/sy/C/40afLb6xpsVpqDqdlxEMEH8K/Cr9oP8AZg8cfAPWH+2RPe6E5PlXSAkA
dsmv6WSM1zPi/wAH+H/Hnh+48N+KLRLqyu0KfOASmeMj0r7HhrjHEYCShJ81Pqn09Dws2yKliVda
S7/5n8natT6+of2qf2b9Y/Z/8YPJbo0vhzUHLW8uMiPPYmvltTX9CYHHU8TSjXou8WfmOIw86U3T
mrND6KKK6zEKKKKACtbRNe1zw1qUWs+HNRudKv4DmO4tJngmQ/7LxkMPwNZNFDQ07ao/QX4Uf8FI
/wBoH4fmGy8WTW/jjS48ApqC+XdhR2S6iAYk/wB6VZDX6efCD/gol+z98TTDp3iC9k8EavJgeTqp
AtmY/wBy7X93j3l8sn0r+b6iuKtl9OfSx6+FzzEUtL3Xmf2WWl5aahaxX1hOlzbTqHjliYOjq3IZ
WXIIPYirFfyc/CT9oz4y/BC6WX4d+JbixtN257GQ+fZSZ67reTKAnuygN6MK/W34I/8ABUTwN4lN
vovxr0pvC9++FOo2Ye40929Xj+aaEZ9PNHcsBXk18tqR1jqj6bB8QUamk/df4fefqzRWJ4d8S+Hf
F+j2/iDwrqdtq+mXY3RXNpKs0Lj2dCRx354rbrzmj3U09UFFFFAwooooAKKKKACiiigAooooAKKK
KACiiigAooooAKKKKACiiigD/9H9/KKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoor5
C/aL/bQ+Ev7PUM2lXtx/wkHisL+70izcF0JGQbmXlYF6dQXIOVQjmrp05SdooyrV4U4803ZH1lf6
hYaVZT6lqlzFZ2lshklmmdY440UZLO7EBQB1JOK/MH9oD/gpp4E8Ftc+HPgpap4u1dModQm3JpkL
eqY2yXGD/dKIeodulflR8ev2rvi/+0LfMvjDU/smho+6DSLMtFZx4Pyl1yTK4/vyFiDnbtHFfNde
1h8rS1qHyOP4jlL3aCsu/U9U+Kvxs+KHxq1k638SfEFxq8ikmGFjstoAe0MCYjTjgkLk9yTzXldF
FetGKSsj5ic3J80ndhRRRTJCiiigAooooAKKKKAEJxXq/wADvhbqHxg+JGmeD9PRnieUNM3YIDzn
8K8jkb7/APsV+1X/AATW+FUej+F9Q+JmoRf6Re/Jbsw6fSvnuKc4+o4KdZfFsvVnqZPgfrGIjTe3
X0P0c8HeENH8B+F9P8H6HEsVrp8QT5RjLgck/jXTgYpq/wD2VPr+YpzcpOUnds/W4xSVlsFFFFSM
KKKKACiiigApCM0tFAHjnxz+FGj/ABg+HepeE9UiV5Xidrd2HIcA4x+NfzK+LPC+qeB/FGp+D9YR
kutMlKfN3GeP0r+soHy6/EX/AIKS/CyPw34w0/4kaXFst735Jto4Ln1r9P8ADXO3TrvBTfuy1Xk/
+CfIcV5epU1iIrVb+h+aYOaWmDrT6/cT8+CiiigAooooAKKKKACiiigD1T4VfGz4ofBXWRrfw28Q
XGkSMQZoVO+2nA7TQPmN+OASuR2IPNfsv+z/AP8ABTTwJ40a28OfGu1Twjq74QahDufTJm9Xzukt
8n+8XQdS69K/BSiuavhIVPiWp6GCzOtQfuPTt0P7KbDULDVbKDUtLuYry0uUEkU0LrJHIjDIZHUk
MCOhBxVuv5X/AIC/tXfF/wDZ6vlXwfqf2vQ3fdPpF4Wls5Mn5ii5Bic/34ypJxu3Div3j/Z0/bQ+
Ev7QsMOlWVx/wj/isr+80i8cB3IGSbaXhZ169AHAGWQDmvCxOAnT13R9pl+dUq/uvSXb/I+vaKKK
4T2AooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAP/0v38ooooAKKKKACiiigAooooAKKK
KACiiigAooooAKwfE3ijw74L0K88TeLNSg0nSrBDJPc3MgjiRfdj3J4AHJOAASa8W/aD/aZ+Gv7O
Xh3+1PGN19p1W6RjY6VbsDd3TDjOD9yMH70jcDoNzYU/zuftB/tPfE79ozXvt/jC8+y6PbOWstJt
iVtLYdAcdZJMdZHyeSBtXCjuwuBlU12R4+ZZxTw/urWXb/M+2P2nv+Ck2v8AilrvwX8AGl0TRzuj
l1p1KX1wOh+zqeYEPZz+9PBHlkYP5R3FxcXdxLd3crTTzMXkkdizuzHJZieSSeSTUNFfQUaEaatF
HwuLxtSvLmqMKKKK2OUKKKKACiiigAooooAKKKKACiimtQAQQfbLy3s4/wDlrKifma/qD/Z78Lx+
D/gv4c0eNdm+JJW/ECv5nPB1v9s8YaJbyfx3Uf8A6FX9VvhmH7P4X0W3j+4llF/6CK/JPFSu1ChS
7ts+24NpJyqT9DcXpS0UV+NH3QUUUUAFFFFABRRRQAUUUUANbrXxb+3h4Oj8WfAu9uNm+XT/AN6v
4V9pt0rxb9oayj1D4L+KI5P4LWRv0Nenktd0sZSqLpJHJmFNToTi+qZ/Lvav5lvFJJ9/+L8OKtVV
gH7t4/7jv/OrVf1c9z8ZQUUUUhhRRRQAUUUUAFFFFABRRRQAVNb3FxaXEV3aStDPCweORGKujKch
lI5BB5BFQ0UAfrF+zD/wUm1/ws1p4L+P7S63o42xxa0il763HQfaFHM6Du4/ejknzCcD9tPDPijw
7400Kz8TeE9Sg1bSr9BJBc20gkidfZh3B4IPIOQQCK/jpr6K/Z8/ae+J37Oevfb/AAfefatHuXDX
uk3JLWlyOhOOscmOkiYPAB3LlT5eKy1S96GjPpMtz+VO0K2q79V/mf1VUV88fs+ftM/DX9o3w7/a
ng66+zaraopvtKuGAu7VjxnA+/GT92ReD0O1sqPoevBnBxdpH2lKrGcVKDugoooqTQKKKKACiiig
AooooAKKKKACiiigAooooA//0/38ooooAKKKKACiiigAooooAKKKKACiiigAr8+/2u/26PDHwHhu
PBHgXyde8eOu1kJ322m7hw1wVPzSd1hBB7uVGA3iv7aP7f0XhVr/AOE/wLvVm1pd0Go61EQyWZ6N
DasOGmHRpOkfRcvyn4f3FxcXdxLd3crTTzMzySOxZ3djlmZjySTySetevgsuv79TbsfL5vnvJelQ
evV9vQ6Lxl408VfELxJe+L/GupzavrGoPvmuJ23Mx7ADoqqOFVQFUYAAHFcvRRXuJW0R8ZKTbuwo
oopiCiiigAooooAKKKKACiiigAooooAKRulLRQBt+Err7H4s0e8/uXEf/oVf1XeFbiO88J6DcR/O
j2UX/oIr+TNJZLe4iuI/+WTh/wAjmv6cv2Z/FkfjT4H+HNUjfe8SCJ/wAr8m8VMM3To1Vsm1959p
wbV9+pTPeF6UtIvSlr8YPvAooooAKKKKACiiigAooooARuleH/tG6jHpfwX8USSfx2si/oa9vbrX
wv8A8FAPG0fhP4H3Gn79kupN5Sr35r1ciwzrYylTXWSOPMKqhh5yfY/n1t2/d+Z/fZ/51cqtbx+X
bxR/3F/nzVmv6rPxpBRRRQMKKKKACiiigAooooAKKKKACiiigAooooA6jwb408VfD3xJZeL/AAVq
c2kaxp774biBtrKe4I6MrDhlYFWGQQRxX9BH7In7dHhj48Q2/gjx15Og+PEXaqA7LbUto5a3LH5Z
O7Qkk90LDIX+c+pre4uLS4iu7SVoZ4WV45EYq6OpyrKw5BB5BHSuXE4WNVa7no5fmdTDyvHVdUf2
XUV+SP7F37f0XiprD4T/AB0vVh1ptsGna1KQqXh6LDdMeFmPRZOknRsPy/63V83XoSpy5ZH6Dg8Z
CvDngwooorE6gooooAKKKKACiiigAooooAKKKKAP/9T9/KKKKACiiigAooooAKKKKACiiigAJxya
/Ff9uH9vJ71r/wCDfwN1HbbDdBq2tW7cydnt7Rx0Ts8o+991DtyzH7eX7cLXr6j8Dfg3f4tl3W+t
atA3+sPR7S3cfwDpK4+9yi/LuLfjnXt4DAfbmfIZ1nW9Gi/V/ogooor2T5IKKKKACiiigAooooAK
KKKACiiigAooooAKKKKACkJxTWavRPAHww8QfECR7iP/AIl+jxfNNdy8DA67SetTKSWrKhBydkcd
oegax4s1BdH8P27XdxL8vy/cT3J7V+3X7CuuaX4H0+X4P6xrCXuty/OsSkYj7kD3Ffl7r/xI8N/D
/T5fB/wjiXzduy61Jh87nvtP+FeZ/DT4ja58N/iBp/jyzuHe7imDTMxOXGef0r5/iLKXj8JOj13X
r0PXy3GRwlZT37+h/VSP/QPl/Kn1578L/iNofxY8F6f400OVXS4iTzkU5Mb4Gc/jXoK9K/mWrSlT
k4TVmtGfqsJqSUo7MWiiisygooooAKKKKACiimE5oAAM1+D/APwUR+LFv40+JFv4H0uXfZaP/rtp
43jpX7AfGn4h6f4D8J3cf21LTWNQidLJGIBdyDjH41/Mz41TxJH4w1WTxgrprFxMXl3dwSSCvqMV
+q+GmSc1WWNqLSOi9e/yPj+LMby01Qj13/yOdHWn0gOaWv2s/PwooooAKKKKACiiigAooooAKKKK
ACiiigAooooAKKKKACv2M/Ye/byezaw+Dfxy1HdbHbBpOtXDcx9kt7tz/B2SU/d+6524ZfxzorGv
QjUjyyOvBY2dCfPD/hz+zQHPIor8V/2Df24Wsn074G/GS/zbNtt9F1adv9WeiWlw5/gPSJz93hG+
XaV/aivmMRh5U5csj9FwONhXhzw/4YKKKKwOwKKKKACiiigAooooAKKKKAP/1f38ooooAKKKKACi
iigAooooAK/JH9v79tFvCsV78C/hPf7damUxa1qMDc2aMMNawsOkzD/WMP8AVj5R85Oz2r9uj9ru
H4D+GP8AhBfBFwr+PNehJRlw39m2z5U3DD/no3IhU9wXPCgN/OrcXFxd3Et3dytNPMzPJI7Fnd2O
WZmPJJPJJ616+XYK/wC8nt0Pl89zfkvQpPXq/wBCGiiivdPiwooooAKKKKACiiigAooooAKKKKAC
iiigAoopCcUABOKjz9yOPc7v0VeST6CtTR9F1jxJqEWj6Hbtd3UzbVVRwPcmvoq20nwP8C7NNQ8Q
bNd8WyruS3XBjgPuPUVE5206m1Oi5avRdzn/AAj8JtP0vT18afFSX+zNMT54rT/lrL6ZHoa53x98
W9Q8WR/2H4fi/sfw5b/KkMXBkA7tj1rivFvjHxB441R9U8QXDS/3Il/1cY9AOnFc4BipjC+sip1k
ly09F+LI1Ty//iacwp9FanOfXv7JX7UGqfAfxQmn6o7XHhrUGCzIx4TPcfSv6CvC/ijw/wCNNDt/
Enhe7S90+4UOrIclM84NfyZslfSfwC/ag+IHwH1RP7PuHvdHc/vbVzkY74FfnfGHBKxt8RhtKnVd
H/wfM+oyLiB4f91V1j+R/SuDin18x/Bz9rD4T/GDT4pLPUE0rU3Ub4ZSB8/tmvptU8yPzI9ssT/d
ZCDn8q/DMZgq2Hn7OtFxfmfodGvCpFTpyuhaKZk/7X5U7cK5jUWk3Cm5P+1+VMuZbezt3uNQlS0i
T5md3AwPxoAeTmvOvij8U/Cfwj8L3HijxZdpbpEhaKHPzyHHAAr5x+Of7b3wv+E9vLp/h+4XWtb2
lUVCCgPvX4h/GD42ePPjZ4gfWPFl272+791bKTsQduK+74a4GxGMkqldOFP8X6HzmbcRUqCcKfvS
/I3vjz8ffFnxw8eP4ouLh7e0tH/0KJSQEweDiuq0680f4+eH/wCw9cdLLxnp6f6LccD7QB0Vj3Jr
5eAzU1rdXmn3EV5p8rRXETBkdTggiv3qhgqdKnGlSVlHY/PPrUpTcqmt9yXU9M1DQ9UuNH1i3a3v
bVirowxnHce1Vgc19QQvofx88N/Y7x0svHGmJ+6l4H2kDsfUmvma9sbzS9Ql0vVLdre9t2Kyo3HI
7j2renO+j3M6tHl1WqZDRSA5pa0MQooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACv3G/
YB/bRbxVFZfAv4sX+7WoVEWi6jO3N4ijC2szHrMo/wBWx/1g+U/OBv8Aw5qa3uLi0uIru0laGeFl
eORGKujqcqysOQQeQR0rDEYeNSPKztwGOnh6nPH5ruf2XUV+ff7C/wC13D8ePDH/AAgvje5VPHmg
wguzYX+0rZMKLhR/z0XgTKO5DjhiF/QSvlqtJwk4yP0jDYmFWCqQ2YUUUVmbhRRRQAUUUUAFFFFA
H//W/fyiiigAooooAKKKKACvnj9pn9oPw7+zl8Nbrxjqmy61W53W+lWJbDXV2RkZxyI4/vSN2HA+
ZlB9p8UeJtC8F+HdS8WeJrxLDStJgkubmeQ/KkUYyx9SewA5JwACTX8uf7T37QevftGfE688YX++
20e13W2k2THi2tFPGQOPMkPzyHnk4B2qoHdgcL7SWuyPHzjMvq9O0fie3+Z45408ZeJPiF4q1Pxp
4vvX1DWNXmae4mfqzN0AHRVUYVVHCqAAAAK5iiivpUraI/PJSbd2FFFFMQUUUUAFFFFABRRRQAUU
UUAFFFFABRSbhTC33PvO7/Kqr1J9BQArNXoHgP4aeIPiBceZb/6FpkXzTXcvCAd8E9a7fwd8JbO3
09PGnxQl/szR0+eK3biWf0GOuDWR49+Ll54kt/8AhG/CcX9j+HLf5Uii4Mg9Wx61k5t6ROlUlFc1
T7jsNa+IXhf4Z6fL4P8AhXEs17t23GpMMknvtP8AhXzncXFxeXD3l5K1xcStud3OSaiVfLqSqhBI
zqVXLfbsJtFLRRVmQUUUUAFIRmlooAdaXF5p9wl5pdw9pcJ8yuhI/ka+mvh9+2N8dPh3sjt9VbUL
dP4ZSTx+NfMdJtFcmLwFDER5a8FJeaNqGJqUnenJr0P1L8P/APBUHxRbxpH4k0RZf7xUV2Tf8FSt
P8v934cbfX5BbRSfj+lfNz4EyqTv7L8WerHiLGJW5z9OvEv/AAU68eXkbx+G9KS33/dZh0r5B+IH
7UPxs+JG+PWNbltLd/8AllESBj8DXgm0UbRXpYLhnAYd3pUUn33/ADOXEZtiaqtObI38ySR7i4dp
ZX+87nJP41IBilor3TzgpCM0tFAFiwvrzS7yLUdPlaK4t2DI6nHSvpa5j0f9oDw+lxb7LLxxpqfM
vA+1oB+pr5gbpV3S9U1DQ9Qt9Y0uVre7t23I6+3Y1nUhfVbm1Kry6PVPoVLm1vNPvJdP1CJre4t2
KyowwQRTQc19P6lY6P8AHzQ/7Y0dEsvGenp++h4AuQBycdzXzDLFcW9xLZ3kTRXFuxSVG4KEU4Tv
uKrS5X5dAopNwpasyCiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA6jwX4y8SfD3xVpnj
Twhevp+saRMs9vMnVWXqCOjKwyrKeGUkEEE1/UL+zN+0H4d/aN+Gtr4x0vZa6rbbbfVbENlrW7Ay
cZ5Mcn3o27jg/MrAfypV9Ffsw/tB69+zn8TrPxhYb7nR7rbbatZKeLm0Y84B48yM/PGeORgnazA8
OOwvtI3W6PYyfMnh6lpfC9/8z+qqisHwv4m0Lxp4d03xZ4ZvEv8AStWgjubaeM/K8Ugyp9QexB5B
yCARW9XzLR+hppq6CiiigYUUUUAFFFFAH//X/fyiiigAooooAKKK+Qv20P2i4f2evhLcXulTKPFf
iDfZ6RGcEo5H725IP8MCkEcEFyingmrp03KSijKvWjTg5y2R+dX/AAUm/aebxTr7fADwXd50fRJV
fWpY24uL5DlbfI6pAeXHeXggGME/k7U1xcXF3cS3d1I008zM8kjkszuxyWYnkknkk1DX1dCiqcVF
H5ljcXKvUdSQUUUVscoUUUUAFFFFABRRRQAUUUUAFFFFABSE4prNXdeBPhz4g+IF55enp9n0+L/X
Xb8Ig74J4NJtLVlRi5Oy3OU0rStU8QahFpej27Xd3L8qog6e5PtX0bZ6B4L+B9mmseLHTWPFDrui
tFwUiPbcPUVW1fx34T+Fenv4X+F8S3epuu241JhnnvtPb8K+crq6vNQvH1DUJWuLuU7mlc5P4VlZ
z8kdN409tZfgjo/GPjXxB481B9Q8QXDOn/LKFf8AVxjsAOnFcsBmnAYpa1SS0Ryyk27sKKKKYgoo
ooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACkIzS0UAaOh65qnhvVLfWNHla3u7dgysvf2P
sa+ida0XR/jn4ffxh4XRLTxbZJ/pdqvH2gDqwHc18yEZrW8PeIdY8J6pFrGjytFcRHd8vRx6H1FZ
zhfVbm9Krb3ZbMxyJI5Ht7hGiliba6NwUI7Gn19KeKPD2j/GDw//AMJ54LRbfxHaL/p1kvHmgdWU
etfM4P7x45EZHRtrI3VD6EU4TuiatJx9CSikBzS1ZkFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFF
FFABRRRQB+sX/BNn9p5vC2vr8APGl3jR9blZ9Flkbi3vnOWt8nok55QdpeACZCR+6Vfxo29xcWlx
Fd2sjQzwsrxyISrI6nIZSOQQeQRX9OP7F/7RcP7Qvwlt73VZlPivw/ss9XjGAXcD91cgD+GdQSeA
A4dRwBXhZnhbP2kfmfZ8O5jzL2E3qtv8j69oooryD6kKKKKACiiigD//0P38ooooAKKKKAKmoX9l
pVhc6pqU6W1pZxPNNLIQqRxxqWd2J4AUAkn0r+Wr9q749X37Qvxf1PxgrOmh2mbPSIGyPLsomO1y
vZ5STI/cFtucKK/Vf/gpp+0A3gvwJa/BTw5c7NX8XJ52oFD80OmI2Nh7j7RIpX3RHB4YV+Cle7le
HsvaM+M4jx/NL2Edlv6hRSE4pbWG81C4Sz0+3e9uH+VUiBJ/SvXPlhNwp2Jf7lfT/wAPP2NPj58S
I0uLPR20+1f+OUYOK+uPDf8AwSr8V38aS+IfEH2dv4lU1zzxdOO7O+jlleorxgz8p6Nv+xX7Jv8A
8EnbPy/3fih9/wCNeZeKv+CWPjzS43k8N66t7/dVzWax9J9TaWS4pK/IflxuFLX0D8RP2V/jp8M9
8muaFLdW6fxwoTxXz23mRyPb3CNFKn3kcYI/OuqM01dM86pSlB2mrMfRSA5paozCiikJxQAtRs3/
AI/931PsKt6dp2oaxqEWl6PbvdXcvyqiDP4n2r6PsPC3g/4L2aa544dNV8Ruu6GyXlIz23D1FROa
XqbU6Llr0OW8FfCOP+z/APhMPiRL/ZWiRfOkLcST+2OvNVPHXxcuNYs/+EX8Fxf2P4fi+VVTh5R6
kjnmuJ8Z+O/EHjzUPtmuSt5Sf6q3XiNB2GOlcgBmpVNt3kVKsknGnt+LEVPL/wA81JRRWpzhRRRQ
AUUUUAFFFFABRRRQAUUUhOKAFpNwpbaG41C4Sz0+3e7uH+6kQJP6V9LeAP2Qfjp8RNklnpTWVo/8
cowa5MXj6NCPNWmorzZtRw86jtTi36HzTt/2KK/UHw//AMEwPFl5GkniDXVt3/iVTXZv/wAEt7fy
/wB34jO/6187U46yuLt7b8GerHh3GPXkPyLx/s0m4V+l/ib/AIJkePNPjeTw3rC3v91WNfIvj/8A
Zm+NHw33ya5oktxbp/HCCePwr0cFxLgMQ7Uaqb+78zkxGU4mlrODPC6KjLeXI9vIjRSp95HGCPzp
4Oa9w88WiiigAooooAKQjNLRQBu+FvFGseD9Yi1zR5WSWJvmXs47gjvXuXjLwro/xU0N/iJ8P4li
1WJd2oWK9Xx1ZRXzeRmul8HeL9Y8D65FrmjvsdG/ep/BIncEVnOLvzR3N6VVJck9jllb/eTY21lb
qD3BqWvorxx4N0v4iaO/xM+HcSpcIu7ULFeoPdlFfN6P/wDE+4PoacJ3Jq0nF+RNRRRVmQUUUUAF
FFFABRRRQAUUUUAFFFFABRRRQAUUUUAFfSn7KPx7vv2evi/pnjBmd9Du8WerwLk+ZZSsNzhe7xEC
RO5K7c4Y1810VM4KScWaUasoSU47o/sp0+/stVsLbVNNnS5tLyJJoZYyGSSORQyOpHBDAgg+lW6/
Lb/gmX+0A3jTwJdfBTxHc79X8Ip52nlz802mO2Ng7n7PIwX2R0A4U1+pNfJV6ThJxZ+n4PFRrU1U
j1CiiisjpCiiigD/0f38ooooAKxPEviLR/CHh3U/FXiC4FppmkW0t3cyt0SGFS7n3wB071t1+Uv/
AAVE+Nx8N+BtK+CeiXGy/wDFBF5qIU/Mun27/u0PtNMufpEwPBrbD0XOaijlxuKVGlKo+h+PPxs+
Kus/Gr4oa/8AEnW8rJq9wWhhJyLe2T5IIR2+SMKCR1OT1JryZnpzGvsj9kX9lnWPj54oi1DVImt/
Dli4aV2HEmD90V9TOcacbvZH5rTpzr1LLVs439n39lr4gftAawkel272WiIw826cEAjviv3f+B/7
Gvwn+Den27xaempamijfcSgHn2zX0b4H8CeHPh/4ft/Dfhq0S1tbdQvyAAnHc+tdoBivnsTjpTbS
0R91l2S06KvLWRWt7a3tI/Lt0WJF/hQACrG2nUVwntDNiUu2nUUAZ17p1lqETW9/bpcRPwVcAj+V
fCvx/wD2Dvhn8WLO41DQLddG1raWV4hhHf8AD3r77pCM1pTqyi7xZhiMLTqx5aiufyV/Gb4FfED4
F+IJdH8YWT/Z937q5AOxx25rx0HFf1tfF34PeDvjH4XuPDfiu0SbzUIilIG+N8cHPWv5oP2ivgJ4
k+AHji40DU4nfTJnLWk6gnIzwPrX0ODxqqKz3Phc2yiVB80dYnghau08D/D/AMQfEC8+z6WvlWqf
666fiNB35PFdx4I+Ef2zT/8AhLPiBL/Y+hRfOqPxJP7AdeaZ44+LkmoWf/CJ+A4v7H0KL5fk4kl9
yevNdTnd2ieZGkormqfd1Ot1Txn4P+Eeny+G/h2iXutuu241Budh77TXzje3t5ql5LqGqXDXF3K2
5nc5/Kqyr/nufrT9oqoQSIq1XLTp2ADFLRRVmQUUUUAFFFFABRRRQAUUUUAFFFMZqABmr6K+Av7M
nxA+PGqJ/Zdu9lo6N+9uXBAx3xXYfsnfsw6x8ePFCahqiNb+GtPYNNKwwHxjgH3r+g3wp4T8P+B9
Dt/Dfhe0SysrdQq7AAXxxkmvzvjDjZYJ/V8NrU6vov8Agn0+R8PvEfvaukPzPAfg1+yT8J/g/Zxf
Z9PTU9TRRvuJRn5/xr6hjPlx+XbotuqfwoMU0DNPr8NxmNq4ibqV5OT8z9DoYeFOPLTjZCf9dPnp
uDT6K5TYQGT/AJZuyVFdwW+oW72+oW6XUL/eWUA1NSbRRbqB8R/HX9h74Z/Fizl1Dw/bromsbSys
gwC/4V+Ivxc+DHjj4J+IH0PxhaOkW7bFdKDscduelf1KYNeZ/FX4T+D/AIweF7jw34stEl81CsU2
BvjPY5r7zhnjrEYOSp4hudP8V6HzmbcO066c6atL8z+WMHFPr2v4+/A3xB8B/Glx4f1RGfT5WLWl
xjgp2Ga8TBzX75hcVTrU1VpO8Xsfm1WlKEnCas0LRRRXQZhRRRQAUhGaWigDrPBHjfWPAeuJqmlv
8n3Zom+5IncEV6r4/wDA2l+LNH/4Wh8O0V4n+a+sh1jfuwHpXz6Rmuz8BeO9U8B6wmoae++0l+W4
tz9yRO/H0rOcH8UdzopVFbknt+RxEb+Z/np7Gpa96+I3gLS9Y0v/AIWZ8N083T7j5r20Xl4H7kD0
rwFW/wC+P88VUJXVzOrTcXZklFFFUZhRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQB6p8E/irr
PwV+KGgfEnRMtJpFwGmhBwLi2f5J4T2+eMsAT0OD1Ar+sXw14i0fxf4d0zxV4fuBd6Zq9tFd20q9
HhmUOh9sg9O1fxzV+7X/AAS7+Nx8SeBtV+Cet3G+/wDC5N5pwY/M2n3D/vEHtDM2fpKoHArys0oX
jzrofTcN43lm6Mtnt6n6tUUUV4B9sFFFFAH/0v38ooooAr3l3a6faT399KsFtbI0ssjnCoiDczMT
0AAyTX8n/wC0b8W7r43/ABk8S/ESVm+yX1wY7FG48uyg/d2647EooZv9ose9fur/AMFEvi8fhn+z
9e+H9Om8vV/G8h0qHBwy2xG67f6eX+6PoZBX83DNXuZVRsnNnxvE2LvKNFdNWehfCv4e6p8UPHGm
eD9LRn+1yp5rL2TPJr+pn4M/CzQ/hH4H0/wno9usX2eIeawA+d8ck1+Xv/BMf4Nx/Z734mapCvm/
ch3jt6iv2eUVz5niHKXItkd/D2BUKftWtX+Q4dKWiivLPowooooAKKKKACiiigBCM18+/tAfCHw5
8UPB9xJqOnpe6hpqNLbZAzvUZA/OvoOo3HeqhJp3RFSmpRcWfyL/ABX8ReMNU8WXuj+LN1v/AGZK
YktV4RADgcdK82AxX6Qf8FIfg/H4I+JFv450q38q01jh9o439zX5ujrX1mHmpQTR+Y46jKnWlCW4
+iiitjkCiiigAooooAKKKKACiiigAooooAQnFdv8MvAOqfFDxxpngvR0LvdSorsvZM8/pXCua/X7
/gmn8JY47fU/ipqkW9/uWrMO/tXh8SZusDg54jrsvV7Ho5VgfrFeNLp19D9J/hZ8NtD+E/gfT/Be
hxKiW8Sec6jlnxzn8a9G2imj/wBD5p9fy/WqyqTdSbu3qz9dhBRSjFaIKKKKzKCiiigAooooAKYR
in0UAfN/7TvwP0f44fDe90u4iX+07RC9rLj5wQM4zX82Or6RqHhvWL3w/rCNFe6fKYnVvY4Ff1tg
4r8HP+Ch/wAJ4/BfxIt/HGlxbLLWP9dtHG+v1bw0z1xqvAzej1j5Pr958bxZl6cFiIrVaM/P2imD
rT6/aj4EKKKKACiiigAphGKfRQB3nw7+IOoeA9Y+0R/6Rp9x8lzbtyjoevHTpXa/En4e6fcaf/ws
T4d/6Rol181xbry9u568ema8LIxXpHw2+I154D1R/MT7RpV38lzbtyhQ9Tj1rKUH8UTop1E1yT2/
I82V/wDnn92pK9o+Jfw3s7Oz/wCFgeA/9L8OXvzSxJybdzyQQOgrxNW/+xq4yTRlUpuLsySiiiqI
CiiigAooooAKKKKACiiigAooooAKKKKACvbv2c/i3dfBD4y+GviJEzfZLG4Ed8i8+ZZT/u7hcdzs
JZR/eCntXiNFTKKaaZdOo4SUo7o/sss7u11C0gv7GVZ7a5RZYpEO5XRxuVlI6gg5BqxXwZ/wTt+L
x+Jn7P1l4f1GbzNX8ESDSpsnLNbAbrR/p5f7oepjNfedfI1abhJxfQ/UsNXVWnGouoUUUVmbn//T
/fyiiuM+IvjTT/hz4C8Q+PNVwbXQLC4vXUnG/wAmMsEHu5AUe5FNK7shSkkrs/AP/gpH8Vz8QP2g
ZvCdlN5ml+B7ddPQA5U3cmJbpx6EMVib3jr8+oIJLy8t7OP79w4T8yK1te1vUvEuuaj4j1mUz3+q
3M13cSHq807mR2/FiTV3wRa/bPHGhW/9+6j/APQhX11KnyQUV0Py3E13Wqub6s/p2/ZO8H2/g/4L
6FZRxbJXhDP9SK+m64X4eWkdl4O0m3iG1Ut4/wD0Gu6r5SrK8mz9Nw8OWEYoKKKKzNgooooAKKKK
ACiiigApD0paKAPz4/4KJeBo/E/wPuNY2b5dK+deOa/nLib92n+781f1a/tQaaNU+CniOz8oy/6O
cBRk9O1fyuPo+sR3FxH/AGVd/JK6/wCrPqfavoMqn7jTPh+JaVqykuqKlFXP7K1j/oFXf/fs/wCF
J/ZOr/8AQJu/+/Z/wr07nzvKypRVv+ydX/6BN3/37P8AhR/ZOr/9Am7/AO/Z/wAKLhysqUVb/snV
/wDoE3f/AH7P+FH9k6v/ANAm7/79n/Ci4crKlFW/7J1f/oE3f/fs/wCFH9k6v/0Cbv8A79n/AAou
HKypRVv+ydX/AOgTd/8Afs/4Uf2Tq/8A0Cbv/v2f8KLhysqUVb/snV/+gTd/9+z/AIUHStY/6BV3
/wB+z/hRcOVlFIpLiSK3j/5auE/M1/Tf+zJ4Tj8F/A/w5pcabHlQSv75ANfzdeE9A1i88WaPbyaZ
c7HuI9zNGf730r+qHwtapZ+FNCs402eVZRfL6HAr8n8U8S1To0ls239x9nwdR9+pNrpY3l606kXp
S1+MH3YUUUUAFFFFABRRRQAUUUUAMPWvhj/goD4Ij8WfA+41DZvl0xvNVu/FfdLdK8O/aO06PVPg
v4ot5E37LWRv0NetkWJdHG0qi6SRx5jRVTDzi+x/MBbyeZbxSf31/lxVmqduP3fl/wBxnX9auV/V
b3PxtBRRRSAKKKKACiiigAphGKfRQB6X8NfiTeeB7x9P1BPteiXvyXFu/IweCQK1fid8NrfQ7eLx
p4Pf7b4a1D5vl5Nu5/hPoBXjjCvV/hn8SJPCdw+h64n23w/qHyTQvyEB43D0NZTi0+aJ0U5qS5J/
J9jyhW/z60+vV/if8N4/C8ieJPC7/bfDWofPE68+QT/C3pivJQcVcJJq6MqlNxdmPoooqiAooooA
KKKKACiiigAooooAKKKKACiiigD9Bf8Agm58Vz8P/wBoGHwnezeXpfji3bT3BOFF3HmW1c+pLBol
95K/ovr+OHQdb1Lw1rmneI9GlMF/pVzDd28g6pNA4kRvwYA1/XX8OvGmn/EbwF4e8eaVgWuv2Fve
ooOdnnRhih90JKn3Brwc1pWkprqfa8M4m9OVJ9NfvOzoooryT6c//9T9/K/Nr/gp98Rz4U+A9n4H
tJdl34z1BInUHBNpZYnlI/7aeSD7Ma/SWv56/wDgp78QD4n/AGgLbwbby7rXwfpsMDJnIF1ef6RI
fxjaIH/drty+nzVV5ankZ5iPZ4aXnp/XyPzfrp/AVz9j8eaFcfwJdR/+hCuYp9ldSafqFpqEf/Lv
Kj/kRX0strH55F2aZ/X94CnjuPCelXEf3Xt4/wD0Guzr57/Zl8TweKPg54f1SOUOzwgN7YFfQlfI
VFaTR+q0J80FJBRRRUGoUUUUAFFFFABRRRQAUUUh6UAeIftC69J4b+EfiDWINu+3t2Zd3TOK/mvk
/aK8efaLj/QrX/Wvt+Qepr91v2/vGkfhf4D6nZ79lxqA2JX810Y/dp/t/M31r3cspJwbaPi+I8TJ
VlGLtoe9/wDDRXjz/nxtf++B/hR/w0V48/58bX/vgf4V4Tto216fsY9j5/61V/mZ7t/w0V48/wCf
G1/74H+FH/DRXjz/AJ8bX/vgf4V4Tto20exj2D61V/mZ7t/w0V48/wCfG1/74H+FH/DRXjz/AJ8b
X/vgf4V4Tto20exj2D61V/mZ7t/w0V48/wCfG1/74H+FH/DRXjz/AJ8bX/vgf4V4Tto20exj2D61
V/mZ7t/w0V48/wCfG1/74H+FH/DRXjz/AJ8bX/vgf4V4Tto20exj2D61V/mZ7t/w0V48/wCfG1/7
4H+FNP7RXjz/AJ8rX8h/hXhe2jbR7GPYPrVX+Zn0f4X/AGivGn/CUaVHcWlr5T3CBuB0J+lf0heH
7n7Z4f0e8/5+LSN/xIFfyX2832O8tLyP/l3lRvyNf1Bfs/eJ4/GHwb8M6xG+/wDdJE34AV+TeKWF
9yjVS0TaPsuEMVKUpwkz2ZelLTVp1fjh9sFFFFABRRRQAUUUUAFFFFACN0rxf9oW9js/gv4okkf7
9rIv6GvZ2618Wft4eNbPwn8C723kl2S6h+6X3zxXp5Lh3VxlKmuskcmPqqFCcn2Z/PFAf3byf33f
+dWqq2qeXbxf7vzc+vNWq/q5n40gooopAFFFFABRRRQAUUUUAFRsKkooA9d+GHxJj8NyP4b8UJ9t
8Oah8ksT8+XnjcvpiqHxL+G8ng+4TWNDf7b4c1D57eZefLz/AAt6Yry5lr2n4ZfEm30e3l8F+ME+
2+H9Q+Rlfnyif4hnpisZRafNE6qc1Nck/k+3/APFgcU+vRfiR8OLjwHeJeWb/a/D9789rcLyAD0V
vevNwcVqnfVGE4OLsx9FFFMgKKKKACiiigAooooAKKKKACiiigAr+g//AIJg/Ec+K/gPeeB7uXfd
+DNQeJFJyRaXuZ4if+2nnAeyiv58K/SD/gmF8QD4Y/aAufBtxLttfGGmzQKmcA3Vn/pEZ/CNZQP9
6uLMKfNSflqevkeI9niY+en9fM/oUooor5g/RT//1f36ZlRS7kKqjJJ4AA7mv5GfjN43b4k/Fnxf
47Ll49b1S6uYc9oHkPkr/wABj2qPpX9On7TfjP8A4V/+z94+8VJJ5U1tpFzFA+cbbi6X7PCf+/ki
1/J/Xt5RDSUj5DiitrCn8wqF1+9HU1IRmvZPkj9w/wDgmX8XLfVPC938P9Ql/wBLtG/dKx/gr9cA
a/ku+APxY1D4N/EjTPFFnKyW+8JcKv8AcJ5r+pn4f+NtH+IHhTT/ABRo8yy293EH4OcZHQ+9fO5l
Q5Z83Rn3nD+NU6Xs3ujuqKKK80+gCiiigAooooAKKKKACmMafXjvxw+JNv8ACv4ear4skQyy28Te
Ui9ScdhVRi27Imc1FOTPx9/4KcfFqPX/ABXp/wAN9Ol3Jp/72Xae/oa/KwDNdT448Zap8QPFmpeM
NYdnuL2Z32t1QE/d5rmF6V9Zh6XJBRPzDHYp1qsqncWiiitjkCiiigAooooAKKKKACiiigAooooA
hdfvx/36/a3/AIJsfFSPWPCeofDfUJf9Isvntwx5P0r8V2Fet/An4qah8H/iRpnjCzdkiWULMq90
J5/SvneKsn+vYKdFfFuvVHqZPjvq+IjUe2zP6i1/+xp9ct4P8X6H488N6f4s8P3C3FpqEQf5TnY5
HINdRuFfzHODi3GW6P1uMk1dC0UUVIwooooAKKKKACiikJxQA0DNfkh+3N+0B4T/AOEwtfhfrFku
p6fEu64ZeTGa/RL44fFXR/hB8O9T8WapKqSpE6wox5dyDjH41/Mn4u8V6p488Uan4w1h2e71OUv8
3OEzx+lfp3htkbq13jJr3Y6L1/4B8nxRmXs4KjHd7+n/AAT2v/hX3wj8aR/aPBet/wBj3b/8spjx
n8a4bxD8GPiB4fje4jtV1W0/57RHPH0FeVmKPzPM+ZH/ALynH8q7nQPiT448L7P7P1J5Yk/5ZS8j
9a/bOWS2Z8J7SnL4o29P8jiZRJbyfZ7iJ7d0+8so2D9acD/wP/d5r6Fj+M/hPxJGln8SPDkT9vNi
AB+vFPk+F3wz8YR/aPAfiP7FK/3bWUgD6c0/a2+JB9Xv8Dv+B877hS16F4j+Enj/AML/ALy40/7b
b/wy2/z5H4V5y7fZ5PLuEa3f+5KMGtFJPYwlBx0krElFFIDmmSLRRRQAUUUUAFRstSUUAe3fDb4i
2cdm/gPxwn2vQr35VZ+TA54BB7YrkPiP8PLz4f6gvzfa9HvfntLleRg9FJ9a89Za96+HHj7S9Q09
/h38QP8ASNHu/lhlPJgc8Ag1jJcvvI6oSU1yS36M8FBxT67X4g+ANQ+H+sfY7h/tGmXHNrdLyjoe
gJ9cVxIOa1TTV0c84OLsxaKYWrR0vRtY1y4S30e0e7Z/7oyKqKbdkZymoq8nZFDcKNwr6I8M/swf
ETxBskvP9CR69esP2M/3f/Ew1X569ehkGMqK8ab+eh85i+MMtovllVV/LU+Gdwo3Cvveb9jTS/L/
ANH1JkeuD139j/xJZxvJo+ofaP8AZrWrw3jYK7gYUON8sqO3tbeqZ8ibhS13fif4XeOPB8j/ANsa
e/lJ/GgzXAB//wBluteNVoyg+Wasz6bD4mnVjz05JrydySik3ClrM2CvTPgz43b4bfFnwh47DlI9
E1S1uZsd4EkHnL/wKPcp+teZ0UpK6syoTcWpLof2ZKyuodCGVhkEcgg9xTq8L/Zk8Z/8LA/Z+8A+
Knk82a50i2infOd1xar9nmP/AH8javdK+OnGzaZ+r0pqUVJdT//W+4f+Cn/iz+wv2c4PD0T4k8Sa
xaWzL6w26vcsfoHij/MV/PNX7Ff8FavE3mar8O/BsbY8iG/v5V9fNaKKI/h5cn51+OtfS5bC1JeZ
+e8QVebEtdrIKKKK7zxSJ1r9Gv2H/wBrm4+FGsReA/GlwzaFduFidzxGT/SvzqqFl/z3FZVqUZx5
ZHRhcTKjNThuf2QaNrOna/p0Gq6XOtxb3ChkdDkEH6VtV/Nt+y9+274v+Cl5F4f8UO+p+HHYL8xy
Yx7fSv3g+Fnx1+Hfxb0uHUfCeqwzPKoZoS4Dp7Yr5vE4OVN+R+gZfmtKutHZ9j2mimB807IrkPUF
opMijcKAFoqIvx/d+vFfNvxq/ai+F/wX0ya51zUori9QHbbROGfP4VcIOTsjOrVjBc0nZHs3jTxp
4f8AAfh+58SeJLpLS0tULMzkDOAeBX88n7Q/7afiz4ifEh7zw+//ABTVk5RbdvuSoD1I9xXn/wC0
d+1l47+P+sSxPK9joKH91bocZHbNfKSpXvYLAKHvT3Pic2zt1XyUtI/mfS+r+DPC/wAXNPfxR8O3
Sy1tF3XGntxvPcqK+cLu1vNPvJdP1CJre4iba6OMEfnVjStV1TQ9Qi1TR7hre7ibcGU4z9a+jrXW
fB/xw09NL8SbNH8VxLtiulwElPbd9a7dY+h5Fo1PKX4M+ZQc0tdB4r8I+IPA+qPpfiC3ZX/gl/5Z
yDsQelc8DmtU09jllFp2YtFFFMQUUUUAFFFFABRRRQAUUm4UsUclxcJZ28TS3ErbURBkk/hQBGz+
XXq/gH4S6p4wjfWNcf8Asfw/F80txLwXA7Jmu10D4aeG/Aenp4w+LEq+bjfb6ap+cntuHpXnvj74
o6548k+x/wDIM0eL5YbSL5BgdM4rFzctInUqShrU+7/M/Qj9nL9sLwX8M/EFp8K7dG/4RTcIvtb9
d/TOfSv2Nsb7T9Us4tU0u4S7srgBopUOQQfpX8j3l/8A2O3tX3H+zR+2n4s+C9xF4f8AFDtqvhxm
A2ucmMe1fmnGPAzxDeKwnx9V38/U+nyTiP2f7qv8PR9v+Af0FA5pa8t+G3xk+HfxY0uLVPB+qxO8
qhmt2cBwfSvUGWSP/WJ/3zzX4rWoTpycKkWmujPvYVIyXNF3Q6im7qXcKyKFophanBJJP9z+83Ao
uAE4rmvFnizw/wCB/D9x4k8UXaWtlboTuc4345wM15H8YP2lfhf8G9PluNc1KK71BFOy1iIJz74r
8Lf2hv2o/HHx81h47iU2WhI37q1Q4yO2QK+x4b4OxGPmpSXLT7vr6HiZrntLDRaWsu3+Zp/tWftI
6p8fPGD29m7ReHNPcrbxZ4kwepFfKoGaEWn1/QmAwNLDUo0KKtFH5jiMROrN1Ju7YUUUV1mAm0Ux
U8uTzLfdE/8AeQkGpKKAO/8ADnxW8eeF9n2PUGuov7k3I/WvSI/ix8P/ABZ/o/jzw+kUr/K1xEMf
jXzvtFDCs3ST1N4Yia0vp5n0LJ8HfBfijfcfDvxEnmv8yw3B/SvMfEPwy8eeF5H/ALQ0x7uJP+Wt
vyn6Vw0XmW8nmW7vbv8A3ojivTPD3xi8eeG/3f2pb20/55Tc5H41NpLZ3K56ct1b0/yPLhLH5nl/
cf8AusCD+tTk4r6KX4ifCvxpH9n8caF/Zsr/APLaEY59eKr3HwS0PXLd7z4d+I4nTqsMpG/6c0/a
2+JWD6s3rB3Pn4HuKK6rxB4A8aeF9/8AbGlOkSf8tUy4P5Vx6zRyf/ZcfzrRO+xzyi1oyaik3Clp
iCo2WpKKAPfvh5460fxBpb/Df4ifvdPuPltbhusDnpz6V5d448C6x4D1j+y7xGlt5fmtbheUkQ9O
fXFcYR/9j65r9HPgJ4U1DxP4Pij+Ilot1ZW5DWjuMuMdOT2roy/LKuIqqnS67+XmcWc55QwmHdXE
vbbu/L+tjwT4R/s46x408rWPEm6y0z7yqeC4r7/8KeAPCfguzS30OyTcn8bAZNdbDFHb26W9ugSK
JdqheBipMCv1nLMkoYVe6ry6tn88Z5xPicfN88rR6JbC+ZL/AH6TApaK9i588kJgUA5paKQNFW8s
7PUI3t9Qt0uEf728V8tfFH9mTw/4kjm1Twv/AKFe8tsXoTX1fRXJjcDSxEeWrG56OW5riMJNVMPN
r8vuPxN8SeGdc8J6o+l65btFKjfKzDg1hA4r9dvir8KtH+JGjy29xEqXqKWilUc5r8p/FPhnVPB+
uS6HqiMksTHazdxX5dnWSzwk7rWL2f8AmfvHC/FNPMKdnpUW6/VGJRSA5pa8M+sP6Gf+CYHiz+3f
2c5/D0r5k8N6xd2yr6Q3CpcqfoXlk/I1+jdfir/wSV8TeXqvxE8GyNnz4bC/iX08ppYpT+PmR/lX
7VV8tjoWqyP0jJqvPhoP5fcf/9fmf+CnfiA6v+0sNMDZXQ9FsbXHo0jS3J/EiYfpX5219X/tx6yd
d/as+IV4TkQ3kNqPb7JbRQY/NK+UK+twsbU4ryPzDMZ81eb82FFFFbnEFFFFADCtdD4X8YeLPA+o
JqHhPVZtPlQ7vkcgH8M1g0Umk9xptao/Q/4bf8FJPi34Pt4tP8Uwrq1vF8u7vivsHw3/AMFTvh3e
IkeuaPLaS/xNX4XbRTWTzP8AWIr/AIVyTwNKXQ9SjnWJhopX9T+gxv8Agpr8E/L8za/+7Xmnin/g
ql4Lto3i8N6JJcS/ws3Svw7+zx/3Fp4Xv8v5CoWW0l0NpcQ4l9UfdvxP/wCChPxr+IEcun6O39j2
j/xJwcV8RaxrOueJLx9U8QXsuoXDtuZpXJ/mao7RS1106MYK0UeXXxVSq71JXE2iloorQwE2im/v
I5EkjdkdPmVl4IP1p9FAHvnhL4p6X4g0tPA/xUi+1WT/ACQ3f/LSI9uevFcj8QPhXqngvZqmnv8A
2noVx80NzFzsB6BsdK8tZa9S+H/xT1TwXv0vVE/tPQrjiW3l5wD/AHc1k4NaxOlVVJcs/vPLlan1
734u+Fml65pb+OPhXL9tsn+eay/5aRHqcD2r5/z9+OTcjI21lPUH3q4TT2MqlJxdmS0UUVRmFFFF
ABSbhUbPXrngL4Sah4oj/tzxBL/Y/h+L5nml4eQDsueuamUkldlwpuTtE4fwn4R8QeONUTS/D9uZ
X/jlb/VxjuSenFe+Tah4H+Bdu1no+zXfFrr88zYMcB9u3Fc74r+LOn6Pp7+C/hXb/wBn6enyTXf/
AC0l7E56814Fj948kjM7v8zE8kn61nyuW+xvzRp/Dq+/+Rra7ruseKNUfVPEFw13cO38R4T2A7Vm
AYoAxS1sjmbvqwpjLT6KBG34a8WeKPBd4moeF9Tm0+VG3fI5AP4Zr7k+HX/BRX4seE44rPxJCurW
6YXc3UivgCk2ivMzDJsLilbEU1L8/vOvDY6tRf7qTR+1/h//AIKb/D+8jT+3NEe3f+Ku1b/go78E
/L8yO0ffX4MsnmfwLUfkxf3Fr5ep4c5Y3dRa+Z7C4qxa6r7j9ovEv/BT3wnZxvH4b0JpZf4WNfHn
xL/b4+NHjyOWz0uX+yrR8j5ODiviRV/zinbRXpYHgvLcO+aFK789TkxOf4uqrSnZeWhc1bVdY8QX
jahrl7LqFw7bmd3J/mapgYpaK+ojFJWR5DbbuwooopiCiiigAooooAKKKKACk2ilooAYV/4H/vc0
+2luLOT7Rp9w9vKndHI/SiigD1Xw/wDG3x5ocaW95KmsW/8AcmGePxrsj4y+Dfjj934o0f8Asq9f
/lrFwAfXivnimMtZukumhvHEySs9V5n0BffAm31CP7Z8P/EEWpo/3bdyAfpXkWu+DfFnheTy9c0q
WH/aiBcfnWHY3moaXJ5ml3cto/8AsE169oXx18aaXGlnrCRaxafdKygE4/Glaa8yr0pb6Hi6yx/3
1/3W6/lTz1r6N/tz4H+PP+QpZN4fvX+9KnAzWVqPwD1C4j+2eA9Yh1i3/uu434+lHtVs9BPDu146
+hR+Bnw3k+IHiyKORP8AQrdg7t24r9XLW0t9Ps4tPs0VLe3UKir7V4l+z94Ak8D+D/8AiYRKmoXf
3/avdR0r9e4cy1YfDqTXvS1Z/OPGucvF4yUU/dhov1YDpS0UV758iFFFFABRRRQAUUUUAIelfL/7
SHwtt/Fnh9/EGnxbNQsl3bl6kCvqGq91bR3lvLbyJvSVSrfjXLjcHGvSlTn1O7LMxnhK8K9N6o/D
f95H+7k+R0+Vl9CKkr1H40eEv+EP8eXdvGmy3umLrXlqmvxfEUXTm6ct0f07g8VGvSjWhtJXP0T/
AOCYniA6R+0sdMLYXXNFvrXHq0bRXI/ECE/rX9EVfy9fsOaydC/as+Ht4DgTXk1qff7XbSwY/N6/
qFr5rM6bdS67H6Bw7iEqDT7/AOR//9D4r/aJ1M6x8ffiPqWcrP4i1Ur/ALgupAv/AI6BXjddd4/v
TqXjzxJqDHJutSvJT/wOZm/rXI19lBWikfk9aV5t+YUUUVRmFFFFABRRRQAUUUUAFFFFABRRRQAU
UUUAFFFFABTCMU+igDo/CXi7xB4H1RNU0O4ZP78X/LOQdwR0r3a70Twf8cLN9U8L7NH8VxLultW4
Sc98D1NfMpGaktLq80+8TUNPla3uIm3K6HBrOdO+q3Nqday5ZaosarpeqaHqEul6xbtaXcTbWRxj
PuDVMHNfSWk+M/Cfxc0+Lwv8RESy1tF22+oKMZPbce9eOeN/AXiD4f6h9j1iLfbv/qblOY5B2Oeg
4ojPo9x1KWnNF3X9bnIE4pYIbi8uEs7OJri4lbCRIMkn8K6Twj4N8QeONTTT/D9uz/35m/1cY7nd
0r3W41jwP8D7d9P8Nqmt+K3XbLctgpEfb3FEqltFuFOldcz0RS0P4ceG/h3p8XjD4qSq93t32+mq
ec9t4rzPx98TfEHjy4+zyf6FpUXyw2kXCAdsgVx2ta1rHiTUH1TXLtrq4lbduY5A9gO1Z4GKI0+r
3HUracsFZfmNC0+iitDnCiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoo
ooAKKKKACiiigApNopaKAI5E8z/WJvrs/h6dU/4SzT7PS7uW33yjcqE461xzV658DLWO4+JGmRyf
3xXRhKfPVhF9WjizKu6WHqVF0TP1ptIpLfT7S3k+d0iTc3qcVZp0nr/sim1+4WSVkfyvzNtyfUKK
KKBhRRRQAUUUUAFFFFABRRSHpQB8Jftf6B+7stcjT5921mr4eHWv0s/aqtPM8D+Z/cavzQg+4n+7
X5TxTSUMY2up/QHAOIdTLYp9G0e1fs7amdH+Pvw41LOFg8RaUW/3DdRhv/HSa/qC/wCFqaB6f+PC
v5R/AF6dN8eeG9QU4NrqVnKP+ATK39K/T/8A4XLd/wDPX/x6vkcRS5pXP0jA4nkg15n/0fzU1KY3
Oo3Vw3WWV2P/AAJiapU58723dcnNNr7Q/JGFFFFAgooooAKKKKACiiigAooooAKKKKACiiigAooo
oAKKKKACkbpQTipLW2vNQuE0/T4jcXErbURBkn8qAKz+X/rP++W759q+yvg0dQ1zw29n8YECeCk+
7cTcTj/czyR9K4jRvh/4X+GenxeLPihKLjUNu+301DnntvFeXePPiV4g8eXHl3D/AGTTIvlhtIuE
CdsgVhL39F9520v3XvS37f5n0f8AFyW48L+F0t/gem/wjL/rbuHmfH+1jkCvi5T5n7zfv3/eduST
7mvRPAPxK1z4f3Hl2/8ApulS8TWj8oU74zXpXiH4c+H/AIgafL40+E7qlxt33Wmt1B6naKUPc0f3
jq/vvejv2/yPnbaKWkdJLeR7e4iaKWJtro/BBoBzXQcItFFFABRRRQAUUUUAFFFFABRRRQAUUUUA
FFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUANavXvgVcx2/xI0zzP74ryFutdR4I
1L+y/Fmn6h/clHzfjXTg6nJWhLs0cWZ0XUw1SC6p/kftTL/rP+A0yqVhdx6hp9pqFu29JYk/lV2v
3C99T+V0raMKKKKQwooooAKKKKACiiigApD0paQ9KAPmD9qi6jj8B+X/AH2r8zYPuJ/u191ftf69
H9jstDjf53YM30r4YAzX5VxVVUsY0uiP3/w/w7hlsW+rbNDTZjbaja3C9YpUYf8AAWBr13/hMrz+
9+teMJneu3rkYrRxd+tfN2PuIysf/9L81NShNtqN1bt1ildT/wABYiqVdd4/sjpvjzxJp7DBtdSv
Ij/wCZl/pXI19mnofkslZtBRRRTJCiiigAopCcUx5PL/ANZ/9egCSk3Cun8N+BPHHjCRI/C+iXF7
v/i8s4/PFfQ/h79iH9ojxBGkn9ifYt/rUSqxjuzanh6k/gi2fKO4UbhX3G3/AATv/aE8vzNif7te
d+JP2Mv2hPC8bySaEbtE+8yZqFiKb+0jWWArLVwZ8w0Vr674Z8UeF7j7P4k0q4snT+9GcfnisRX8
z/V/P/u1sjlatuSUUgOaWgQUUUUAFMJzSM/+f8K9k8CfCK41yz/4STxhL/Y/h+L5mZ+HlHXAB9am
Ukldl06bk7I4jwd4I8QePNQ/s/Q4m2J/rbhuI4x3Oele3XWv+B/gnZvpfhNE1jxK67ZbtsFIj32/
SuZ8Y/Fu3j09/B/wzt/7K0eL5HmXiSX1OevNeFKv3/43f7zN1P41nyuW+xvzxp/Bq+/+Roatq2qe
INQfVNcuGu7uVtzMxyB7CqQGKAMUtbHM3cQjNavh/wAQax4T1SLWPD9w1vcI38J+R/YisukIzQwT
s7o+nSfBfx4s/wCDQvGES/e4Edwf8TXzx4g8Pax4T1SXR/EFu1vcL/e+449QenNZKPJbyJcW7tFL
F8yupwQfrX0R4c+Ivh/4gaengv4sIvm7dlrqS/fQ9BuNY2cdtjp5o1Pi0ffufO4OaWu+8ffDTXPh
/cJJcf6bpUvzW93FyhHbcR0rz5T/AJ7VrGSaujnnBxdmPooopkhRRRQAUUUm4UALRTC/+0v50nmR
/wDPVPzoAkopgb/bV/8Adp24UALRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRSbhQAtFRu/l/wCs
dU/3uK09J0XXPEFwlvoeny3bv/sHZ+dDdhpN7GeTiomljj/+JXn+Ve96V8BtQjjTUPHmqxaJb/eM
WQSRWr/wlXwb+H/7vwvpn9tagn/LWXlCfXmsnVX2dTo+rNazdjyjw38N/HHizZ/ZemPFbv8A8tpe
APfmvVrf4VeA/BezUPiJ4gS4li+ZYbc9x2OK4XxJ8Z/HHiDfb29wulWn/PKEY4/CvLJPMuJPtFw7
3Dv95nOaLTe7sLmpx2V/X/I/Xr4Q+N/D/jTw2kfh/wCS30/5VVuuK9VBzX5V/s//ABKk8B+LIre4
fZZXTBHXsM1+qEM9vcW6Xlu++KVdyMPev2Dh3MFiMOlfWOjP5u4zyeWDxsml7s9V+qJaKQdKWvdP
lAooooAKKKKACiiigAqCeaO3t3uJPkSJSW/Cpj0r5v8A2h/idb+D/Dcul2cv+m3akBVPIBrmxmKj
QpSqz2R2Zdl9TFV4UKa1bPiD45eLv+Es8eXckb77e0YovpXkSims0kkjySfO8pJZvc0+vxbEV3Vq
SqS3bP6ewWEjQowow2irF3TYTc6ja269ZZUUf8CYCvXv+ENvP7tcF4AsjqXjzw3p6jJutSs4h/wO
ZV/rX6f/APCmrv8A55f+O1yznZnpUaXMrn//0/iv9onTDo/x9+I+m4wsHiLVQv8AuG6kK/mpFeN1
9Yftx6MdC/as+IVmRgTXkN0Pf7XbRT5/N6+T6+wou8E/I/K8XHlqzj2b/MKKKK0OcKQnFBOK9k+B
nwP8WfHTxhb+G/D8TfZNw+0TY+REzzz9KmUkldl06blJRitTkfh78NfGnxU1yLw/4L097q4lYKzq
DsT6mv2V+An/AATX8L+H7e31z4qS/wBoahw3k/wA+lfcvwI/Z88FfA7w1BpegWifbdo8+4IG9378
+lfQgGK8HE5jKWkNEfbZdkEIJSras4Xwx8NvBHg+zis/D+j29osS7VKxjNduE+n5VJRXmNt7n0UY
pKyEwKjkijk4kUN9RmpaKQzyrxn8Gvhv48s5bLxJoVvcrKPmfYAa/K39oL/gmjHHHceJPg/cbHTL
/ZG798Cv2nppFdFHFThszhxeXUaytOJ/HP4l8L+IPBesS+H/ABRZPZXtuxVlcEA49KxNwr+nD9pz
9k7wX8ePD9xIlullr0SEw3CAAk84B+tfzh/ET4e+JPhf4su/Cfii3a3u7RyqswwHAPUV9DhMWqq8
z4XMsrnh5d49ziycVLZWl5ql4mn6XbtdXcrbViQZP411HgvwL4g8eah9j0OLZbp/rbh+I4x3yTXt
V94m8F/BezfQ/BaJqviNl2y3rYIjPfaa3lU1stzip0brmlov62IdK8C+E/hXp6eJPiQ6XuquN1vp
6nOD23CvKPHXxG8QfEC8/wCJg/2fT4uIbVOEQdsge1chqmqaprmoS6prFw11dytuZmPT6VUAxRGG
t3uFStdcsVZf1uNUU+iitDAKKKKACiiigAqJkqWigD13wB8Wrjw/bv4b8WRf2x4cuPleKXkxA91z
6Vo+NvhJbx6f/wAJp8N5f7V0KX53hXmWDPOMdcCvDitdh4J8eeIPh/qH2zR5d9u/+ut25jkHcYPH
SspU2neJ0QrJrlqbfkccr/8A2XqD6GpK+k9V8G+E/jBp8vij4bumn66i7rjT24DnuUFfN93aXmn3
kun6hbtb3cTbXicYI/OqjUTIq0XHXo+oymFqYWr7n/Zm/Yq8WfGSSLxJ4sR9K8OIwb5gQZB7e1ce
ZZnQwlJ1q8rJf1oaYXCVK01Cmrs+PvC/hDxZ40v00/wnpsuoSu23ciEp+dfcvw6/4Jz/ABU8WRxX
nii4XSonw2zviv2S+G/we+Hfwr0uLS/B+lRI8S7WmZBvJHfNeol5JP8AWPX4/m/ibiJtxwceVd3q
/wDgH3GC4SpxV67u+yPzM0D/AIJk/DuzjT/hINTe7f8AirsX/wCCb/wL8vy43ffX3+Fp9fI1OL8z
k7uuz245JhErezR+XXiX/gmJ4PvI3k8N6w1o/wDCrV8c/Er9gT4yeA45bzR0XWLRPm+Xk4r+gnaa
cGk/1e/en909K9LA+IGZUWuafOuzRyYnhrCzWkbPyP5I9X0nWPD94+n+ILKXT7hGwyyggZ9qpA5r
+mv4v/s2/C/4yaXLb65pkVpqDqdlxEACD68V+Fv7Q37LXjj4B6o8lxE+oeH3b91cICcD3r9X4c42
w2P/AHb92fZ9fQ+MzXh+thvfXvR7/wCZ8z0VGrVJX2h4IUUUUAFFFFABRSbhUUkscf8ArH/r/KgC
YnuaTcK6nw74E8YeLJE/sfTJfKf/AJbOMIPfmvW4Pgz4X8NxpefEjxAiOnzeTbkZ+hxUSqJG0KEp
a20PnmHzLyT7PZq11L/ciBJr1bw58FvHHiCNLi4iTSrLu9x8j4/Gu0m+LfgfwnH9j+Hfh9HlT5Vu
pQCfrXlHiT4ieNPFkn/E41B0i/uRHA/Sp5pPbQvkpx+J39P8z1r/AIRn4L/D/wDeeINQbxHep/yy
HIBrJ1X486pHb/2f4H02HR7L7qsoG/FeCiKP/Wfff+83X9al2ij2S3eovrMlpFWL2q6zrGuSfaNc
vZbp3/hYnArPVPLp9FapHOJtFLRSE4oAbny/9X97+Gvvz9mT4u6hrEf/AAg+qK0vlL8k3ZB7mvh7
w14b1TxZrEWj6PE0ssrfM3ZB3J+le8eL/E2l/CvQ/wDhX/gd1l1iVf8ATr0fwHuqmuzAZpUwtVTp
b9V5Hm5vkFHH4eVOvouj638j9O/+Bq6f3l6H6UtfnV8H/wBpe88NxxeH/GG64tPurKeo/GvvPw94
q8P+KLNLzQ71LhH+bZkZFfrOW5vRxUbwevbqfzxnXDuJwE3GrG8ejWx0VFKw8v8A1lNHSvTPDTuL
RRSZFAxaKjmkjt4/MuHWKL+8xxXzl8Tv2i/C/g+3ls9DlW91DlV28gGubF4unQjz1ZWR2Zfl1fFT
9nQjdnpXxJ+JOh/DvQ5dQ1CVftG391Fu5J7cV+UPjXxjqnjjXJdc1R2+djsTsBSeMPGniDxxqj6p
rkrPub5EzwK5gDFfmGeZ5LFy5Y6QWy/U/eOFeFIZfDmlrUe77eSBelLRRXz59geyfs7aYdY+Pvw4
03GVn8RaUG/3BdRlvyUGv6gv+FWaD6/+Oiv5yf2HNGOu/tWfD2zAyIbya6Pt9ktpZ8/mlf1CV5OP
rcs0vI+nyXBupScvP9Ef/9Tmf+Cnfh86R+0sNTC4XXNFsbrPq0bS2x/ECEfpX521+xX/AAVq8MmP
Vfh34yjXPnw39hK3p5TRSxD8fMk/Kvx1r6nAyvSifm2cU+XEzXn+YUhOKWmMa6zzDa8NeHdU8YeI
LLw3o8TS3d7KEXb2ya/px/ZX+AWjfA/4f2VnHbr/AGndoHuJcfPuI6Zr8u/+CbHwUj8UeKLj4kax
b+bb2XEW4d+xFfvYiCMV4WZ4jXkR9nw7gEo+2lu9h46UtFFeQfUhRRRQAUUUUAFFFFACEZr4Y/bB
/Ze8J/GTw/8A8JPcReVqGlL5rug+eRF5I49a+6Kq3EMdxE9vOodJFKsD0weK0p1HB8yMcRQjUg4T
Wh/KP49+KUlvHL4D8D2n9i6ZZMYZWUYkkI4OT1rwgL/4/wDebufrX27+3h8G0+FfxguNU0+LytM1
jLrtGBvPNfEq9a+roOLinE/M8bGcajhPoOooorU5QooooAKKKKACiiigAooooAKQjNLRQBb0vVNU
0PUItU0e4a0u4m3K6HGfrX0daa74P+OFmmj+LNmj+K4l2w3YwElPo31r5lbpXrvwH+FeqfGD4maV
4T09G8rzQ8rr/AAcnmuXF1IUqcq03ZJXudOFcnJU4q9+h9k/sm/sWax4o8YP4k+JEWzRNKfdF6XG
OQR6g1+29jZWel2cWl6XbraWluoRIkGAAKz/AA7oFn4T8P6f4X09t9vpsSIp7kgYOfWtsDFfzTxH
n9XMK/tJv3Vsuy/zP1XK8sp4WnyxWr3ADFLRRXz56QUUUUAFFFFACEZrnPFfhTw/440O48N+JLRL
qyuEKMHAOM8ZHpXSUm0VUJuLUouzQpRTVnsfzgftXfs26p8A/GD3FmjS+HNQctDLjiPJ6E18qA4r
+o742/CvR/jB8O9T8J6pEryvE7Qsw5DgHGD9a/mU8YeE9U8B+KNT8H6wjJcaZK6fMOqZ4P5V/Q3A
/Ezx+H9nVf7yG/muj/zPzHiHKfq9RSh8MvwOfpNwpit5knl26tcP/di5P5V6V4a+EPjzxRsuI7Rd
PtP4pbj5CB9DX20pJbngwg5OyR5sW/3U/wB7irWnafqesXCW+j2Ut7K/8IQ4/OvoL/hBvhH4Dj+0
eMNY/tu7T/ljF0B9OKoaj8d/sdu+n/D/AEeHTLf7qysBvx6+tZuo38KNvYKPxyt+JS0X4D+IJI/t
njDUItCtPvMjkbyK3Rq3wT+Hf/IHtG8Qamn8T8pmvCda8ReIPEkn2jXNQlu9/wDDkgVjrHHH/q0/
xo9m38TD20Y/BH5vX/gHr3iH43+NNcjez0vZolp93yohjj8K8knkuLyT7ReSvcO/3mlOaNopa0jB
LYxnUlL4mIB/laWiiqICiiigAoopCcUABOKvaPo+oeINQi0fS4mluLhtqqvbPeoLKyvNUvItP0+J
pbi4baiL15r6Wmk0v4D+G/Lj2XfjPU0+Xv8AZgR19jWc520W5tRpc2stluR65q2l/A/w/wD8Iv4f
dLjxXqCf6VMvPkAjkA9jXzITJJI8lw7Syytud25JJqW4uLi8vJdQ1CVri7uCWd25JJpoHYU4QsKr
V5nZbLYYVre0LxT4k8L3H2jQ717fZ/Dk4rEpCM1rGTi7xdmc9SnGa5Zq6Pqjwx+1n400uNLfWLdb
tE/ir16w/bD8NyR/8TDT2R6/PnaKaV/2K9qhxJjIKynf1PlsVwRltV8zpWfk7H6Ly/tfeC/L/wBH
sn31wmuftjXEkbx6Hp+z/aaviPZ/sLTtorWpxRjJK3Nb0RhR4ByyDu4N+rPVfFvxr+IHjDfHeXrW
8T/wIccV5QfMkk8yR2d3+8zcmnbRS14dbETqPmqSbZ9VhcHSoR5KMVFeQgGKWiisjpCiiigD9Ev+
CYnh86v+0sdTK5XQ9FvrrPo0jRWw/EiY/rX9EVfir/wSV8M+ZqvxE8ZSLjyIbCwib181pZZR+Hlx
/nX7VV81mcr1X5H6Dw9T5cMn3bP/1fuL/gp/4T/t39nODxDGmZPDesWlyzekNwr2zD6F5Y/yFfzy
1/WB+034M/4WB+z94+8KrH5s1zpFzLAmM7ri2X7RCP8Av5Gtfyf19BlU702ux8NxNStWU+6/IKhM
clxst4/vysF/M1NW34StP7Q8YaJZ/wDPW6jVv++hXqHzsVd2P6Vv2KPAdv4L+Cej+WmyW9iDv9cV
9h1538LtNj0vwHo9nGuxUt4//Qa9Er5CtK8m2fqmGpqFOMV2CiiisjcKKKKACiiigAooooAKQ9KW
igD8y/8Agpb8PY/Enwni8URxfvdJffu74r+fmNv3aSf31Ff1SftY6RHrPwL8S2ci7/8AR2P6V/K5
t8uSWP5fkcr1HYmvocrneDXY+E4kpJV1JdUS0UZ/3fzoz/u/nXpnzwUUZ/zmigAoopNwoAWik3Cj
cKAFopNwo3CgBaKTcKNwoAidvv8A+xX7W/8ABNj4Vx6P4T1D4kahF/pF78luWHI+lfixbwfbLy3s
/wDn4lRfzNf1Bfs/eF4/B/wb8OaPGmz90krfiBX5z4l5i6WCjRi/jf4I+p4TwqniHUf2T2Nf/sqf
TVp1fgp+jhRRRQAUUUUAFFFFABRRRQAwHy6/I/8Abn+AXg//AITC1+KGuah/ZWnyrtm2ceYa/XFq
+Lv27/Blv4r+BeoSyJ5r6f8AvV/CvqODsweHzCnJPR6P5nlZ1h1Uw0rq9tT8cX+Jvwz8Dx/Y/Aeh
Ld3afduZRnPvXmniX4pePPFm/wDtDUGtIv8AnlDwMfhXnFq3+jxfwf3l+nFWgtf0oqSTPyqeIlJW
2RF5X7zzPvv/AHmOSfzqXaKWitDEKKKKACiiigAooooAKKKKAEJxSRRSXEiW9ujSyyttRV5JNIBJ
JIkcfzu/yqq9Sa+lvC+g6P8ACPw+njzxgiy6xcL/AKDZN1BPRiPaonKxrSpOT8ixpllo/wAC/Dae
INYUXfivUE/0W3bnygejEdiK+bdT1PUNc1C41jWJWuLu4Ys7N2z2HtVzX9f1TxRrFxrmuS+bd3Df
hGOyiskDFKELavcdapf3Y6JABiloorQxCiiigAooooAKKKKACiiigAooooAKKKKAP6Gv+CYHhP8A
sL9nOfxDImJPEmsXdyresNuqWyj6B4pPzNfo1Xhf7Mngz/hX/wCz94B8KtH5U1tpFtLOmMbbi5X7
RMP+/kjV7pXyOJnzVJM/UcBS5KMIdkj/1v36ZVdSjgMrDBB5BB7Gv5GfjN4If4bfFnxf4EKFI9E1
S6toc94EkPkt/wACj2sPrX9dFfz1/wDBT34fnwx+0BbeMreLba+MNNhnZ8YBurP/AEeQfhGsRP8A
vV6mVVLTce583xNQ5qKn2f5n5v11nw8ljj+IHh+ST/n6j/8AQhXJ1b0i7/s/WNP1D/n3mjb8iK99
7HxMHZpn9fXgeSOXwvpkkf8Az7x/+g119eLfALX4/Enwr0HVY33+bbp+gr2mvj6itJn6tSknFNBR
RRUGgUUUUAFFFFABRRRQAUUUUAeLfHyTR4/hXrr65/x5eQ2/Hpiv5tptJ/ZzuLi4k+0TRb5X7n1N
fvV+3F4qg8NfAPW/MfZLdIUVfWv5iEWOT95sX5/m/OvcyyneDdz47iLEJVIxsnofRY8J/s/yf6vU
5U/Gn/8ACD/AuT/V626fjXzt5Cf3KT7PH/c/WvTdJ9z5x14/yI+iv+Fd/BuT/V+I9n40f8Ku+E8n
+r8VKlfOn2W3/ufrTfslv/cb86PZPuP28f5EfRx+D3gOT/j38YRJ+VH/AApHwv8A8s/GcP6V84/Z
rf8AuH/vs077PH7/APfZo5Jdxe2h/J+LPok/AvQ/+WfjOH8xTT8B9P8A+WfjC3/MV88+X/tv/wB9
mlA/6av/AN9mnyS7j9rD+T8WfQbfAH/nn4wt/wAxUTfs/ap/y7+JbVvxFeCBpP8An4l/77NTLdah
H/q72VP+Bmjll3D2lP8Al/E9ub9n3xR/yz1u3f8AEUxv2f8Axh/yz1C3f/gYrxpdT1iP/mITf99m
pBrXiCP/AFeqzf8AfZo5Z9wc6f8AL+J7v4X/AGf/ABp/wlGleZLC8SXCM3zjpmv6SvD1v9j8P6PZ
/wDPvaRofqAK/lg8J+KfEln4o0e4k1ibYlxHuGT/AHq/qZ8LXX2zwnoV5G+/zbKL5vfAr8f8U1K9
C77n2nCMoP2nIrbG+vSlpF6UtfkZ9mFFFFABRRRQAUUUUAFFFFACN0rxb9oWzjvPgv4ojk/gtZG/
Q17S3SvDv2jtSj0v4J+KJJH+/ayL+hrty2/1mnb+ZfmYYq3sp37M/l/gH7t4/wC47j9atVTtz+78
z++zt+tXK/rRn4qgooopDCiiigAooooAKKKKACoye9DNXvnw48CaXpelv8SPiB+60y1+a3hbrO45
AA7ipnNI0pU3J2Rf8CeEdH8B6H/wsz4gIv8AesbRusj9iR6Zrxjxd4t1jxxrkuuaw/zu37qL+CJO
wA7cVf8AHnjnVPiBrn9qah+5tIvltbdfuRoOnHTNceBiphB35pbl1aityR2/MAMUtFFaGAUUUUAF
FFFABRRRQAUUUUAFFFFABRRRQAV6Z8GfBD/En4s+EPAgQvHreqWttNjtA8g85v8AgMe5j9K8zr9I
P+CYXw/Pif8AaAufGVxFutfB+mzTq+MgXV5/o8Y/GNpiP92scRU5IOR1YGh7StGHdn9CSqqKEQBV
UYAHAAHYU6iivkT9SP/X/fyvza/4KffDg+K/gPZ+OLSLfd+DNQSV2AyRaXuIJQP+2nkk+ymv0lrj
PiL4L0/4jeAvEPgPVcC11+wuLJ2Izs86MqHHuhIYe4FbUKnJNSOXG4f2tKVPuj+P6oJF/d/+PVu6
9ompeGdc1Hw5rMRgv9KuZrS4jPVJoHMbr+DAisZhX1yZ+XNW0Z/QL/wTh+Kkfiz4Z/8ACL3lx/pe
lfIEY84r9MQc1/Lj+x/8a7j4N/FiyuLiXZp+oERS7ugz3r+nXRNXs9c0u31jT5Vmt7tA6MO4IzXz
eYUOWd+jP0DIsYqlFR6o2qKKK889sKKKKACiiigAooooAKa1OrhfiF420j4f+FNQ8U6xKsVvZRM+
W7kDpTSu7IUpJK7PyU/4KjfFKPy9K+G+ny/vd2+ZQe3vX42Ba9Y+N/xN1D4ufEzVfGF47PFLK6w+
nl54ryoDFfV4WlyQUT8xzHFe2rSn0FoooroOIKKKKACiiigAooooAKKKKACiiigBiSyW8kVxH/yy
cP8Aka/pt/Zj8XR+NPgf4f1SN97xIIn/AAAFfzIOtfr9/wAE0/i3b+Xqfwr1S42O/wA9qrHv7V+e
+I+WSrYH2sd4O/y6n03CuKVPE8j+0rH62r1p1MA/8c+X8qfX4CfpQUUUUAFFFFABRRRQAUUUUANb
rXwr/wAFA/HEfhP4J3Gn79lxqTbFXvzX3SP/ANqvwb/4KH/FiPxx8TLfwPp8u+y0f/XbTxvHSvre
CMseJzGn2jq/keJxBi1Swsu70R+etunl28Uf9xf/AK9WaatOr+kz8qCiiigAooooAKKKKACo2NKW
r1r4YfDj/hKLh/EGuP8AYvD+n/PNM/AfH8Iz1zSlJJXZdODk7I0fhh8PLPULd/HHjRvsnh/T/n+f
gykdFHrmuW+I/wAQ7z4gaonlp9k0Sy+S0tV4GwdGI9av/E/4jf8ACaXCaHoafZPDmm/Jbwrx5mP4
m9a8uUVnCLb5ma1ZpLkht+f/AAB20UtFFanOFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABX9
B/8AwTB+HB8KfAe88cXcWy78Z6g8qMRgm0sswRA/9tPOI9mFfgNoOial4m1zTvDmjRGe/wBVuYbS
3jHV5p3EaL+LECv66/h14L0/4c+AvD3gPSsG10Cwt7JGAxv8mMKXPu5BY+5NeVmtW0FHufS8M4fm
quo+n6nZ0UUV4B9uf//Q/fyiiigD+dD/AIKR/Cg/D/8AaBm8WWUPl6X44t11BCBhRdx4iukHqSwW
VveSvz6r+kH/AIKJfCA/E39n698QadD5mr+CJDqsOBlmtgNt2n08v96fUxiv5vq+ny+tz015H53n
mF9liHbZ6kTD/nn8jp8yt6Gv2g/YE/a6t5LeH4T+PLvZKmEtJnPBHZcmvxkp9pd3mn3kWoafK1vc
W7bkdTggitsRQVSPKzjwOMnQqKcT+yqKWOWMSRtuVuh9fpU9fir+yV/wUDjgjtfAfxclO9MJDdse
o6Dca/YvQfEWj+JNPTU9Du4722lUFXiYEc18zXw8qbtJH6Hg8fTrx5oM36KQHNLWB2hRRRQAUUha
uM8ZePPC/gPS5dY8UahFZW8SlvncAn6Cmk3ohSkkrs6W9vbbT7aW8vJVht4lLO7HAUD3r8TP2rv2
1fDfizxZcfC+3i+1+FMmK6mQ9T0JFcF+1t+3pqnxH+0eB/hm72mj7iktwpwZB0r8xiHk3ySPvd+W
ZuST3Jr28Fl9vemfH5tnl37Ojt1Z7H49+E0mh2aeKPB8v9q+H7j5lZOXiB7Ee1eOK/8An/GvQPAX
xK1zwHceXb/6VpkvyzWr8oR3wDXpviP4d+H/AIgaZL40+Fbr5u3fc6e3UHvtFekpOOkvvPnnTU1e
nv2/yPnaikkSS3ke3uEaKWJtro3BBo3CtjlFooooAKKKKACiiigAooooAKKKKAEIzXa/DTx7qnwz
8caZ4w0dmSW0lRn290zz+lcXTGFZ1aUZxcJq6ehUJuLUovVH9Uvwq+JWh/FjwPp/jTQ5Vf7REnnI
p5jfHOfrXoYOK/nO/ZR/ad1j4D+KEs9Qd7jw5euFmiY8JnuPpX9BvhLxd4f8eaHb+JPC92l3ZXAD
/IclM84NfzbxVwzUy6u7K9N7P9D9WybNo4qn/eW6/U6eikBzRuFfKnsC0UUUAFFFJuFAC0zJpxOK
8v8Aiv8AFvwf8G/C9x4k8WXaRPEhaKHI3ue3H1rWjRnUmqdNXb2RFSajFyk9Eee/tP8Axv0f4KfD
e91SSVf7Tu0MVrFn58kYziv5tNW1bUPEGsXviDVHaW+1CUyuze5yBXr3x7+OXiT48eNLjxBrDsmn
xMVtLfPCDscV4svSv6M4O4a/s/D+/wDxJavy8vkflueZs8VV934Vt/mLRRRX154gUUUUAFFFFABT
GNOJxXb/AA/8Bap8QNY+x2/7qyi+a4uG4REHXmk2lqyoxbdkaPw0+HV5441B5Lh/smj2Xz3Vw3AC
DkgH1ra+KPxFt9YjTwX4PT7L4a0/5Pk4Nw44JOOoNaPxM8fafZ6enwz+H/7rR7L5bq4Tg3Eg689x
XhKr5dZRTk+ZnRUkoLkh82KBmn0UVscoUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAH6
C/8ABNz4UH4gftAw+LL2HzNL8D27ag5Iypu5MxWqH0IYtKvvHX9F9fBn/BO34QH4Zfs/WXiDUYfL
1fxvINVmyMMtsRttE+nl/vR6GQ19518xj63PUfkfo2SYX2WHV93qFFFFcR6x/9H9/KKKKAK95aWu
oWk9hfRLPbXKNFLG43K6ONrKwPUEHBFfyg/tGfCS6+CHxl8S/DuVW+yWNwZLF258yyn/AHlu2e52
EKx/vBh2r+savym/4KifBE+JPA2lfGvRLfff+F2FnqJUfM+n3D/u3PfEMzY+krE8CvRy2vy1OV7M
8HiDB+0o863j+XU/CSiiivoz4EheP/Pp9K+hvhF+1D8XPg3cRf2Hqb3enoRut5SSMenNfP8ASbRU
zgpKzNKVWUHzQdmfuD8M/wDgqL4O1SOK3+IGnvZXHCsydPrX2B4a/bO+A/iSNJLfxBFb7/8AnqRX
8vTRxyf6xFeo/s8f/LPen+6SK4J5ZTe2h7dHiOvHSVmf1hP+0r8E44/M/wCErtP++xXm3ij9t/4B
+Go3kk1tLrZ2iYc1/MQYv+ms3/fZ/wAaaLaP/af/AHiT/Ws1lMO5tLieq9oo/aL4o/8ABUnT445d
P+GelNK75USy8496/MD4ofHj4ofGDUHvPGGqyvb7vlhVzsA9MV5Eqf8APNFT/dp20V20cLCHwo8j
FZlWrfHLQjVKlooroOEQjNbHh3xFrHhPVE1jQ7hre4RuVzw/sR0rIpCM0MadndH060fgv46WfmW+
zRPGES/d4SO4P+Jr5113QdY8L6pLo+uW7W9xEf4l4b3B6YrNiluLe4S8s5Wili+ZXU4IxX0ZoHj7
w38SNPi8H/FBViu0XZa6gvUHtuNY2cNtjp5o1NHpL8z5yBzS12/jv4d658P7zy7xftGny/NDdpyj
jtkjpXCg4rWMk9Uc8otOzH0UUUyQooooAKKKKACiiigAooooAYyV9FfAb9pn4gfAfVEk0u4e70p2
/e2znIx3wK+eKQjNc2LwdLEU3SrRvFmtCvOnJTpuzP6Qfg1+138J/jBZxeXqCaVqrqN8MpAGfavq
WL/SI/tFu63ET/ddCDn8q/katprjT7hLzT5XtLhPuuhIr6Q8A/tcfHD4f7I7PWHvbdP4JSTx+dfl
GbeGF254KenZ/wCZ9nguL7Llrx+aP6Vsj3/I0m//ADivxY0D/gp540s40/4SDR0lf+LaK7F/+CpH
7v8Ad+H/AJ/pXyVTgDNIu3s7/M9qPEuDf2vwP14H/AvyNV7y5t9Lt3uNUuEsol+ZndwK/EnxL/wU
z+ImoRvH4f0xLff/ABMOlfIvj39pT4yfEiR/7Y1uW3t3+9Ejkfh1r0sD4aY6o17ZqC+9nLiOLMPB
fu05M/Zj46ftyfDP4V28un+G5V1vWNpVdhygNfiR8W/jN44+NHiB9c8YXbvFuzFb5OxB24ryor5k
n2iR2llf7zOcn86kAxX6pw/wnhcvV6avL+Z7/wDAPjsyzqtiXaTsuyGhafRRX055AUUUUAFFFFAB
SE4oJxWz4a8Oap4s1iLQ9HiaW4lba3og7k+mKTY0m3ZF7wZ4O1jxxrkWj6Wn3v8AWy9o07kmvXPi
F4z0vwfo/wDwq/4dv9z5dQvU6yP3UH0q94x8SaX8J9Df4d+B5Vl1i4X/AImF6vVM9VU181qv/A9/
zMzdSfU1lH3tXsdMmqa5Y79f8gRKkpF6UtbHKFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABR
RRQAV7d+zn8JLr43/GXw18O4lb7JfXAkvnXjy7KD95cNnsdgKqf7xUd68Rr92/8Agl38ET4b8Dar
8a9bt9l/4oY2enFh8yafbv8AvHHfE0y4+kSkcGubF1/Z03LqejleD9vWUOm79D9UbO0tdPtILCyi
WC3tkWOKNBtVEQbVVQOgAGAKsUUV8ofpYUUUUAf/0v38ooooAKxPEvh3R/F/h3U/CviC3F3pmr20
tpcxN0eGZSjj2yD17Vt0UJiavoz+R/42fCrWfgr8UNf+G2tgtJpFwVhmIwLi2f54Jh2+eMqSB0OR
1Bryuv3r/wCCmn7P7eNPAlr8a/Dltv1fwink6gEHzTaY7Z3nufs8jFvZHcnhRX4KV9XhK/tIKXU/
NMzwToVnDp09AooorpPPCiiigAooooAKKKKACiiigAooooAKiZKlooA9k8B/Fn+y7P8A4RPxxF/a
vh+4+X5+Xiz3BPPFHjz4T/2XZ/8ACWeB5f7V8Py8/JzJBnsR7V4wRiu88B/EXXPh/eeZZv8AaNPl
+Wa2flHHfANZShZ3idMKqkuWp9/9dDglf/P+NSV9Ga/8PvDfxI0+Xxh8K3WK7277rTW656nYK+cp
Yri3uHt7iJopYm2ujcEEVUJpmdWk4vyFopAc0tWZBRRRQAUUUUAFFFFABRRRQAUm0UtFACbRRtHt
S0UAJtFG0UtFABRRRQAUUUUAFFFFABSE4oJxUtnaXmo3kWn6fE0txcMFRF5JJoAsaTpGoeINUt9H
0uJpbu4baqqP1NfRuuappfwP8Pv4X8Pulx4t1BP9KuF5+zgjkA9jUsj6X8A/Dflx7LrxrqqfX7Mh
HX2YV8x3FxeXl5LeahK1xcXBLyu3JJPX8KwXvvyOv+Erfaf4f8EiLSSSPJI7PLK253bqSetPpAMU
tbnIFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAeqfBP4Vaz8avihoHw20QFZNX
uAs0wGRb2yfPPMe3yRhiAepwOpFf1i+GvDuj+EPDumeFfD9uLTTNItorS2iXokMKhEHvgDr3r80f
+CZf7P7eC/Al18a/Edts1fxcnk6eHHzQ6YjZ3juPtEihvdEQjhjX6k185mWI558q2R97w/gfZUva
S3l+XQKKKK8498KKKKAP/9P9/KKKKACiiigCpqFhZarYXOl6lAlzaXkTwzRSAMkkcilXRgeCGBII
9K/lq/au+Al9+z18X9T8Hqrvod3m80idsnzLKVjtQt3eIgxv3JXdjDCv6oK+Qv20P2dIf2hfhLcW
WlQqfFfh/feaRIcAu4H722JP8M6gAcgBwjHgGu7AYn2c9dmePnWX+3pXj8S2/wAj+Yiipri3uLS4
ltLqNoZ4WZJI3BVkdTgqwPIIPBBqGvpj87CiiigAooooAKKKKACiiigAooooAKKKKACkIzS0UAaW
ha9rHhfVItY0O4a3uIm/hPD+xr6JD+C/jxZ/vNmieMIh8rcCO4I/qa+YyM0RvJbyJcW7tFLE25XU
4IP1rOcL6rc2pVeVWeqNbxB4d1jwnqkuj+ILdre4T+99xx6g+9ZIOa+ivDnxD8P/ABA09PBfxURf
NxsttQ/jQ9txrzLx78N9c+H95/pH+l6ZL81vdxco47ZI6URm9pbjqUlbmhqjg6KYD/ntT60MAooo
oAKKKKACiiigAophb/LVLa295qEn2fT7eW7f+HYhI/lQ2luCG0V6To/wV+LmufvNL8NTOj/3kI/p
XUN+zL8eI4/M/wCEUl2fQ/4VxTzLDxdpVIr5o3WFqtXUH9x4dRXfaz8Jfih4f/eax4cuIkT7zKhP
9K8+m8y3k8u4ie3f+7KCn9K6KVeE1eEk/TUynCUfiVh9FID/AJ7UtakhRRRQAUE9zRTP+mcab3f5
VXuTQA6OOS4kS3gRpZZWCog6k9q+ndLstH+BfhtPEmuKt34t1NP9Et258gEcMR2Iqt4V8P6P8I/D
afEDxpEsusXa/wDEvsm65PRmHbFeAeINf1jxZrFx4g1yVpbu4bd7IOyj09Kxfv8Aoda/dK7+J/gV
dS1PUNc1C41jWJWuL27bc7sfXsPaqgGKAMUtbHK2FFFFAgooooAKKKKACiiigAooooAKKKKACiii
gAooooAKKKKACvpT9lH4CX37Qvxf0zweyumh2mLzV51yPLsomG5A3Z5SRGncFt2MKa+cbe3uLu4i
tLSJpp5mVI40BZndjhVUDkkngAda/px/Yv8A2dIf2evhLb2WqwqPFfiDZeavIMEo5H7q2BH8MCkg
8kFy7DgiuPHYn2cNN2etk+X+3q6/Ct/8j6y0+wstKsLbS9NgS2tLOJIYYowFSOONQqIoHACgAAel
W6KK+XP0YKKKKACiiigD/9T9/KKKKACiiigAooooA/C3/gpN+zC3hbX2+P8A4LtMaPrcqprUUa8W
985wtxgdEnPDntLySTIAPydr+xbxR4Z0Lxp4d1Lwn4ms0v8AStWgktrmCQfK8Ugww9Qe4I5BwQQR
X8uf7T37Pmvfs5/E688H3++50e63XOk3rDi5tGPGSOPMjPySDjkZA2spP0GW4rmXJLdHw+f5b7OX
toLR7+T/AOCfOtFFFeofNhRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQBG6V7N4B+LUmh2f/CL
+NIv7V8P3Hysr8vFnupPPFeO0wrUyimtS6dSUXeJ7X46+En2Oz/4TD4fy/2r4fl+dkTmSDPYj0Fe
Jo/+fT2ruPAvxC8QfD+88zS382ym/wBdavzG6d+D7V63rvgTw38UNPl8YfC91t9TRd11prcHPcoK
zUnHSRu6camtPR9v8j5woonguLO4ls7yJre4ibDo4wQfxpAc1scotFFITigAJxWlomh6x4n1SLR/
D9o97dyttVEBPX1xXRfDv4d+KPip4otPCfhe3a4uLhgrMo4QHqSa/oI/Zz/ZW8F/AvQ7eS4t01Dx
BKoaWZwDsPoM18pxPxXQy6FnrN7L9X5Hs5Rk1TFS00iuv+R8G/A3/gnJqmuW9v4g+Klx9kifDfZV
9Pev0w8C/s7fB/4f26W+h6FDK6fxugJz+Ne3E+Z/rKNor8LzbijG4yTdWo0uy0R+iYLKMPQVoR17
srW9jp9nH5dnZQ2+z+6gq2X/ANz/AL4FN2ilr55nqJ22M+80jR9Qj8vUNMhuEf725BXz/wDEP9lL
4J/Ei3ePUNHSyuHU7XiAGD+FfR+0UbRXThsbWoyUqM3F+TMK2Hp1FacUz8IPjt/wT88afD+O48Qe
A3bWNMTLeV1cD2r8+ri3vLO8ez1CJ7e4iba8TjBB/Gv64v8Apn99H+8rcg18B/tVfsYeG/ippdx4
s8D240/xHbqX2oMCXHOOK/VeGfEWXMqOP6/a/wA/8z47NuFlZ1MN93+R+CoOaWtHXdC1jwvrF34f
8QW7Wl7aMUdCMdO4rKZq/YYyTV1sfDtWdmDNX0X4D8IaP4D0P/haHxAT7nzafZN1lfsSPSqHw18B
6Xpelv8AEz4ifutHtfmt4W4M8g6AA9RmvN/HnjvVPiBrn9qah+6tIvktLdfuRxjpx0zWUnzOy2Oq
CVNc8t+n+bKHi/xbrHjjXJdc1h/nf/VRfwRJ2AH0rnQMUAYpa1StojllJt3YUUUUxBRRRQAUUUUA
FFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFfRX7MP7PmvftGfE6z8H2G+20e123OrXqji2tFPOCe
PMkPyRjnk5I2qxEzmoq7NKVKU5KEVqz7Y/4Js/swt4p19fj/AONLTOj6JKyaLFIvFxfIcNcYPVID
wh7y8ggxkH90qwfC/hnQvBfh3TfCfhmzSw0rSYI7a2gjHypFGMKPUnuSeSckkk1vV8ricQ6k+Zn6
Vl+Cjh6Sgt+vqFFFFc53BRRRQAUUUUAf/9X9/KKKKACiiigAooooAK+eP2mf2fPDv7Rvw1uvB2qb
LXVbbdcaVfFcta3YGBnHJjk+7Ivccj5lUj6HoqoTcXzIzq0ozi4SWjP48vGng3xJ8PfFWp+C/F9k
+n6xpEzQXEL9VZehB6MrDDKw4ZSCCQRXMV/Rh+3R+yJD8ePDH/CdeCLZU8eaDCQirhf7Stkyxt2P
/PReTCx7koeGBX+dW4t7i0uJbS7iaGeFmSSN1KujqcMrKeQQeCD0r6jC4lVY36n5xmeXyw9Tlez2
ZDRRRXUecFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFACEZrQ0TW9Y8N6pFrGh3DW93E2dynAP
sfWqFJtFDVxp21R9Ox3fg/48Wf2fUNmieMIl+SXgR3BHr7mvnrxH4a1zwfqj6P4gt2t7hG+Vv4JB
6g9DmsVWkjkS4t2aKVG3K6nBB+tfRXhr4j6H440uLwV8WEV/l2W2ofxxntk1hyuO2x1c0anxaPv3
9T533Cp7CxvNY1C30vT0aW4unCIq9ck4rufiB8NNc8B3CSSf6bo9x80N3FyhHbcR0r7F/wCCe/wX
j+IHxEfxxrEKy6ZonzruHBPauPNs0hhcNPEy2S/Hoh4TAzq1o0UtWfo/+yB+znpfwT8B2+sahbq/
iPVUDyuw5jBHQelfYNKT5n/oK+w7U+v5ezDHVMTWlXqu7Z+u4bDQo01TgtEFFFFcZuFFFFABRRRQ
AUgOaWkIzQB+aH7eX7Mlv408Ny/FDwfaKmsaeu+4VB/rEHU8da/K34W/Dq31C3l8ceOP9C8P6YxZ
lfgyyJ/CAeuSK/p3uLS31C3l0+8VXt7hSjq3Qg1/Pp+3HoeueD/iQnhPyvsXhqXMtvCnCE5zk44r
9m8OuIJ1YvAVXqtYvy6o+I4ly2FOX1pL1XmfNnxI+Il58QNUTy0+yaJZfJaWo4AQcBiPWvPwMUxR
UlfrKSSsj4ic3J8z3CiiimSFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUVNb29xd3
EVpaRNNPMypHGilnd2OFVVHJJPAA60AdF4L8G+JPiF4q0zwX4Qsn1DWNXmWC3hTqzN1JPRVUZZmP
CqCSQAa/qF/Zm/Z88O/s5fDW18HaXsutVudtxqt8Fw11dkYOM8iOP7sa9hyfmZifAv2F/wBkSH4D
+GP+E68b2yv4816EB1bDf2bbPhhbqf8Ano3BmYdwEHCkt+glfPZhjOd8kdj7vI8q9jH2tRe8/wAA
ooorzD6EKKKKACiiigAooooA/9b9/KKKKACiiigAooooAKKKKACvyR/b+/YubxVFe/HT4T2G7WoV
MutadAvN4ijLXUKjrMo/1ij/AFg+YfODv/W6itqFeVOXNE5cZg4V4OnM/jLor9jP28v2Hmsn1H45
fBuwzbNuuNa0mBf9Wer3dug/gPWVB93l1+XcF/HOvqKFeNSPNE/OMbgp0J8k/wDhwooorY5Aoooo
AKKKKACiiigAooooAKKKKACiiigAooooAKjZakpCcUAet+AvixceH7f/AIRfxRF/bHh+7+Ron5Me
eMrn0r98/wBlD4eeF/h/8J7e48L/APHvrTeb83UA87fwr+cDQrb7Z4g0yz/563EY/wDHq/qn+Hul
W+ieA/Dul26bES0ifavqQK/KvFHE8lCnRj9p3fyPteEU5zlKXRafM7FetOpF6Utfih92FFFFABRR
RQAUUUUAFFFFADD1r8zf+ClPw9j1z4d2XjS3i/0vT3G5u+zPNfpo3SvnP9qzQ4/EHwL8R28ib/Kh
d/yBr3OGsY6GPo1F3X4nn5rQVTDTg+x/M8j+Zsk/gepqp2v/AB7pH/c3r+tXK/qQ/H0FFFFABRRR
QAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFfuN+wD+xc3hWKy+OnxYsNutTKJdF06debNGG
VuplPSZh/q1P+rHzH5yNnC/sG/sPNevp3xy+Mlhi2XbcaLpM6/6w9Uu7hD/AOsSH73Dt8u0N+1Fe
LmGO/wCXcPmfX5Hk9rV6q9F+oUUUV4p9aFFFFABRRRQAUUUUAFFFFAH/1/38ooooAKKKKACiiigA
ooooAKKKKAAjPBr8V/24f2DXs2v/AIyfA3Tt1sd0+raLbrzH3e4tEH8Hd4h937yDblV/aiit8PiJ
U5c0TjxuChXhyT/4Y/jLor9xv20f2AYvFTX/AMWPgXYrDrTbp9R0WIBUvD1aa1UcLMerR9JOq4fh
/wAP7i3uLS4ltLuJoZ4WZJI3Uq6Opwysp5BB4IPSvpsPiI1I3ifnmOwFTDz5Z/J9yGiiitziCiii
gAooooAKKKKACiiigAooooAKKKKACmtTqKAOk8CmP/hONE837n2qP/0Kv6rNAP8AxT+ij/pyi/kK
/k40q5+x6xp95/zymRv1r+qD4W61H4g+G/h3WI/n32kafkBX5D4q0nahPpqj7jg2S/eR9Dv6KRTS
1+On3AUUUUAFFFFABRRRQAUUUUANavIPj20cfwb8V+Z/z6yfyNewMa+Yf2v/ABFH4b+Beu3Ej7Hu
InRffIrvyqm54qlFb8y/M58XNRozk+zP5rLf+P8A32/nVqqdp/x7pJ/fy35mrlf1lJH4sgooopDC
iiigAooooAKKKKACiiigAooooAKKKKACiipre3uLu4itLSJpp5mVI40Us7uxwqqo5JJ4AHWgCGv2
M/Ye/YNe8aw+Mnxy07bbDbPpOi3C8yd0uLtD/B3SI/e+8424Vu6/Yu/YBi8KtYfFj46WSza0u2fT
tFlAZLM9VmulPDTDqsfSPq2X4T9bq8XHZh9in959fk+R2tVrr0X+YAY4FFFFeKfWhRRRQAUUUUAF
FFFABRRRQAUUUUAf/9D9/KKKKACiiigAooooAKKKKACiiigAooooAK/Pv9rv9hfwx8eIbjxv4F8n
QfHiLuZyNltqW0cLcBR8snZZgCezhhgr+glFaUqsoPmizDE4aFWDhUV0fx5eMvBfir4e+JL3wh41
0ybSNY099k1vOu1lPYg9GVhyrKSrDBBIOa5iv6rf2g/2Zvhr+0b4d/svxja/ZtVtUYWOq26gXdqx
5xk/fjJ+9G3B6ja2GH87n7Qf7MPxO/Zz177B4ws/tWj3LlbLVrYFrS5HUDPWOTHWN8Hgkblwx+iw
uOjU0ejPgsyyeph3zLWPf/M+daKKK7jxwooooAKKKKACiiigAooooAKKKKACiiigCCQf+OfMtf0F
/sC/EaPxx8F00OSXfd6I3zL3xX8/Lda+yf2IfjX/AMKn+Klvp+oS7NH1hhFLuPGT0r5DjfKHi8BJ
QV5R1Xy/4B7fD+O9hiU3s9Gf0PKafUKSRyRpcW7q8Uqh0ZehB6VKDmv5uP1UWiiigAooooAKKKKA
Ciik3CgBp61+U3/BTP4kR2fhvTPh3Zy/6RdOHdV9B1zX6h69rmn+G9HvfEGqOsVvZRF2ZuBwCa/m
Y/aG+Klx8YPipqvijfvtYpXitfTYDjiv0Dw7yd18asQ17sNfn0Pm+KMaqeHdNby/I8TUf+Of4VJS
AYpa/oA/MwooooAKKKKACiiigAooooAKKKKACiiigAoor6K/Z8/Zh+J37RmvfYPB9n9l0e2cLe6t
cgraWw6kZ6ySY6Rpk8gnauWEzmoq8jSlSlOSjBXZ454N8F+KviF4ksvCHgrTJtX1jUH2Q28C7mY9
yT0VVHLMxCqMkkAZr+gn9kT9hfwx8B4bfxv468nXvHjruVwN9tpu4crbhh80nZpiAeyBRkt77+z5
+zN8Nf2cvDv9l+DrX7Tqt0ii+1W4UG7umHOMj7kYP3Y14HU7myx+h68DGZg5+7DY+3yrI40rVKus
vyCiiivMPoQooooAKKKKACiiigAooooAKKKKACiiigD/0f38ooooAKKKKACiiigAooooAKKKKACi
iigAooooAKwfE3hfw7400K88M+LNNg1bSr9DHPbXMYkidfdT3B5BHIOCCCK3qKExNJqzPwt/ae/4
Js6/4Wa78afABZdb0cbpJdFdi99bjqfs7HmdB2Q/vRwB5hOR+Udxb3FpcSWl3E0M8LFJI3Uq6Mpw
VYHkEHgg1/ZdXyF+0X+xf8Jf2hYZtVvbf/hH/FZX93q9mgDuQMAXMXCzr06kOAMK4HFevhcza92p
958vmPDqledDR9v8j+YiivpT49fso/F/9nq+ZvGGmfa9Dd9sGr2YaWzkyflDtgGJz/ckCknO3cOa
+a69uE1JXiz5CrRlCXLNWYUUUVRmFFFFABRRRQAUUUUAFFFFABTFaSORLi3fZLEwZGXqCKfSN0oA
/c/9hz9qOz+IHhu3+G/jC7WLW9PULbu5/wBYB2ya/Rcjy6/kr0PXNY8L6xb65odw1pe2jB0dDjp2
NfuB+y3+3D4f+Imn2ng/4kSrp+uwqESZzhJOwya/EeNeCZ0pyxeEjeL1aXTz9D9ByDP4ziqNZ2a2
fc/RcHuKKijeOSNLi3dZon+66HIP5VIDmvy0+vFopNwo3CgBaKTcKCcUABOKb/00k+RE+Zm7AVV1
C/s9Hs31DWLhLS0iXczynAwPrX5NftZft12/2e7+H/wjl3u+Umu1/I7TXsZNkeIx1VUqC9X0Rw4/
MKWGhz1H8u5j/t6/tTR6hv8Ag/4Du/k+7ezIfzGRX5Oonl/u/wDOe/51JNNcXlxLeXkrS3EpLO7c
kk0V/SGR5NSwGHjQpfN933PyvMcfPE1XVn/wyCiiivYOEKKKKACiiigAooooAKKKKACiiigAqa3t
7i7uI7S0iaaeZgkcaKWd2Y4CqBySTwAK+jvgL+yj8X/2hb5W8H6Z9k0NH2z6veBorOPB+YI2CZXH
9yMMQcbto5r94/2dP2L/AIS/s9Qw6rZW/wDwkHisL+81e8QF0JGCLaLlYF69CXIOGcjiuPE46FPT
dnrZfk9WvrtHv/kfnV+zD/wTZ1/xS1p40+P6y6Jo52yRaKjFL64HUfaGHMCHug/enkHyyMn9tPDP
hfw74L0Kz8M+E9Ng0nSrBBHBbW0YjiRfZR3J5JPJOSSSa3qK+fxGJnUd5H3GCy+lh42gte/UKKKK
5zuCiiigAooooAKKKKACiiigAooooAKKKKACiiigD//S/fyiiigAooooAKKKKACiiigAooooAKKK
KACiiigAooooAKKKKAKl/p9hqtlPpuqW0V5aXKGOWGZFkjkRhgq6MCGBHUEYr8wf2gP+CZfgTxo1
z4j+Cl0nhHV3y50+bc+mTN6JjdJb5P8AdDoOgRetfqTRWtKvKDvFnNisHTrR5aiufyP/ABV+CfxQ
+CusnRPiToFxpEjEiGZhvtrgDvDOmY345IDZHcA8V5XX9jPiLw14d8X6PceH/FWmW2r6ZdjbLbXc
SzQuPdHBHHbjivzA+N3/AAS78DeJDca38FNVPhe/fLDTrwvcaezHsknzTQj6+aOwUCvaoZpF6T0P
ksbw3OPvUXddup+EtFe3fFv9nP4y/BC6aL4ieGrixtN21L6MefZSZ6bbiPKAnsrEN6qK8Rr04yTV
0z5ypTlB8slZhRRRVEBRRRQAUUUUAFFFFACEZoRpLeRLi3dopU+ZXTgg0tFAH2d8FP24/ih8J/K0
/WJW1vSUwu1zkgfjX6b/AA6/b3+C/jSOKPWJW0q7frvOBmv5+SM1C0Ef+59OK+PzfgfAYtubjyy7
rT8D28FxBiaC5U7rzP6qtK+Lfwv1yNJNP8S2z7/9sVvHxn4L/wBZ/wAJBa7P99a/lGttS1iz/wCP
PULi3/3ZD/jWgfFXjDy/L/tq6/7+H/Gvk6nhVG/u19PQ9uPGUre9T/E/p81z42fCfw/G8mqeJbX5
P4VcV8lfEv8A4KIfCvwnHLb+E4m1O+TKq3UZr8I7m71C8/4/L2a4/wB5z/jVZIY4/wCD/GvRwPhj
g6bTrTcvLZHLiOLq8lanFL8T6e+M37WnxU+Mlw1veXr6Zpjf8sYjjj8K+Y1T/wCyZup+tP2ilr9B
weBo4eCp0IqK8j5mviJ1Zc9R3YUUUV1GIUUUUAFFFFABRRRQAUUUUAFFe3fCT9nP4y/G+6WL4d+G
ri+tN2176QeRZR467riTCEjuqkt6Ka/Wz4I/8Eu/A3hs2+t/GvVT4ov0wx06zL2+nqw7PJ8s0w+n
lDsVIrmr4unT+J6no4PK61f4Fp3ex+PPwq+CfxQ+NWsjRPhtoFxq8ikCaZRstrcHvNO+I045ALZP
YE8V+y/7P/8AwTL8CeC2tvEfxruk8XaumHGnw7k0yFvR87ZLjB/vBEPQo3Wv0u8O+GvDvhDR7fw/
4V0y20jTLQbYra0iWGFB7IgA578c1t14uIzKc9I6I+swPD9Kl71T3n+BUsNPsNKsoNN0u2is7S2Q
RxQwosccaKMBURQAoA6ADFW6KK8498KKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooo
oA//0/38ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAK93Z2moWst
jfwJc206lJIpVDo6twVZWyCD3Br4U+L3/BOz9n74mmbUfD9lJ4I1eTJ87SsC2Zj/AH7Rv3ePaLyy
fWvvOitKdWUHeLsYV8NTqq1SNz+dD4r/APBNz9oH4fma98Jw2/jjS48kPp7eXdhR3e1lIYk/3Ymk
NfCGt6DrnhrUpdG8R6dc6VfwHElvdwvBMh/2kkAYfiK/serjPGnw68BfEbT/AOyvHnh6w1+1AIVL
23jn2Z7oXBKH3Ug+9elSzWS+NXPn8TwzTetKVvXX+vxP4/qK/oP+I/8AwTB+A/isy3fge91DwZdv
kqkT/bbQE9zFOfM/ATKPavhD4gf8Ewv2gPDBluPBtzpvjC1XOxYJvsd0QPWO42xj6CVq9GnmFKXW
3qeDiMjxNP7N/T+rn5v0V6Z43+DPxZ+GzOPHfhDVNEjQ4865tZEgP+7Njy2+qsa8zrsUk9UeVODi
7SVgooopkhRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUV6Z4I+DPxZ+JLIPAnhDVNbjc4862
tZHgH+9Njy1+rMK+1Ph//wAEwv2gPE5iuPGVzpvg+1bG9Z5vtl0AfSO33Rn6GVaxqYiEfiZ1UMDW
qfBFs/N+tbRNB1zxLqUWjeHNOudVv5ziO3tIXnmc/wCykYLH8BX78/Dj/gmD8B/Chiu/HF5qHjO7
TBZJX+xWhI7iKA+Z+BmYe1feXgv4deAvhzp/9leA/D1hoFqQAyWVvHBvx3coAXPuxJ964KuawXwq
57eH4Zqy1qNL8T8A/hR/wTc/aB+IBhvfFkNv4H0uTBL6g3mXZU90tYiWBH92VozX6efCH/gnZ+z9
8MjDqPiCyk8b6vHg+dquDbKw/uWi/u8e0vmEetfedFebWx9SfWx9Dhckw9LW135le0s7TT7WKxsI
EtraBQkcUShERV4Cqq4AA7AVYooriPWCiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKK
KKACiiigAooooA//1P38ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKK
KACiiigAooooAKKKKAGsqupRwGVhgg8gg9jXhvjP9mT9n74geY/irwDpFzNLnfPFbLa3DZ9Zrfy5
P/Hq90oqoza1TInSjJWkrn5yeLP+CYH7Oeu75PD0+seG5D91ba7W4hH1W5SVyP8AtoPrXzh4m/4J
K6rHuk8G/ESGfP3Yr+waLH1lilkz/wB+xX7VUV0wx9VfaPOq5Nhp7w+7Q/nd1/8A4JiftLaQWOmH
RdcUdPst80bEfS5ihAP4145rP7Dn7VmhEi8+Ht5MB3tZra7z9PIlc1/ULRXVTzOo3Z2POr8O0Erp
v+vkfyX6n+zt8fdHJ/tL4ceIoFH8R0q6Kf8AfQjKn864m98AePNNJXUPDepWpHaWzmT/ANCQV/Vx
8VP+QAP+BfyFfkN8Zf8Aj7l/4FXp0sRKW585icDCGzZ+T82m6jbHbcWssR9GRl/mKqbH3bdpz6Y5
r2jxl/x+N+NeUf8AL5XWjzpRsyGHTdRuTtt7WWU+iozfyFdDZeAPHmpELp/hvUrontFZzP8A+goa
7zwb/wAfi/hX6B/Br/j7i/4DUTm0a0qKk9T89tM/Z2+PusEf2b8OPEU6n+IaVdBP++jGFH516Xo3
7Dn7VmukCz+Ht5CD3upra0x9fPlQ1/Rv8K/+QAf+A/yNenV5tbHzjske/g8lpVH7zf4f5H87ugf8
ExP2ltXKnUzouhqev2q+aRgPpbRTAn8a948M/wDBJXVZNsnjL4iQwY+9FYWDS5+kssseP+/Zr9qq
K4JZnVfU9qnw9ho7pv5/5H5yeE/+CYH7OehbJPEM+seJJB95bm7W3hP0W2SJwP8AtofrX1P4M/Zk
/Z++H/lv4V8A6RbTRY2Ty2y3VwuPSa48yT/x6vdKK5p4mpLeR6FLAUYfBBIaqqihEAVVGABwAB2F
OoorE6wooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA
KKKKAP/Z" 
        type = "image/x-icon">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    

    <header class="page-header" role="banner">
      
      <h1 class="project-name"> Machine Learning (ML) shots </h1>
      <h3> Journey towards meaningful Machine Learning </h3> 
      
      <a href="https://www.youtube.com/@ml_shots" class="btn">Youtube</a> 
            
      
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">If you have any complaint about the content please contact in this mail id: sci.ml.shorts@gmail.com  </a>.</span>
      </footer>
    </main>
  </body>
</html>
